.page--about {
    overflow: hidden;
    background: url('../images/profile/bg.jpg') top center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0;
    min-height: 500px;

    .content-about {
        margin: 0 auto;
        padding: 45px 0;
        max-width: 900px;
        z-index: 1;
        position: relative;
        @media ( max-width: 767px) {
            text-align: center;
            padding: 30px 15px;
        }
        h2 {
            max-width: 100%;
            margin: 0 auto 30px;
            font-size: 0;
            display: block;
        }
        &.howto {
            h2 {
                background: url('../images/about/tit-how.png') center no-repeat;
                width: 322px;
                min-height: 34px;
                background-size: 100%;
            }
            .col {
                width: 36%;
                margin: 0 7% 20px;
                text-align: center;
                @media (max-width: 767px) {
                    margin: 0 10px 20px;
                }
                p {
                    text-transform: uppercase;
                    font-size: 13px;
                    color: #4e301c;
                }
            }
        }
        &.prize {
            h2 {
                background: url('../images/about/tit-bigprize.png') center no-repeat;
                width: 321px;
                min-height: 37px;
                background-size: 100%;
            }
            .wrap-content {
                min-height: 540px;
            }
        }
        &.tnc {
            h2 {
                background: url('../images/about/tit-rule.png') center no-repeat;
                width: 290px;
                min-height: 42px;
                background-size: 100%;
            }
            .wrap-content {
                color: #000;
                font-size: 12px;
                font-family: $font-standard;
            }
            .wrap-text {
                padding: 0 7% 30px;
                max-height: 486px;
                overflow-y: auto;
                @media (max-width: 767px) {
                    padding: 0 5px 30px;
                }
                #mCSB_1_scrollbar_vertical {
                    width: 22px;
                }
                .mCSB_draggerRail {
                    background: url('../images/about/line.png') center no-repeat;
                    width: 9px;
                }
                .mCSB_dragger .mCSB_dragger_bar {
                    background-color: transparent;
                }
                #mCSB_1_dragger_vertical {
                    background: url('../images/about/dots.png') center no-repeat;
                    width: 22px;
                    height: 24px;
                }
            }
        }
    }
    .wrap-content {
        background: url(../images/about/bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 195px 5% 285px;
        max-width: 100%;
        position: relative;
        z-index: 5;
        width: 800px;
        float: right;
        @include screen(medium) {
            padding: 50px 2% 20px 10%;
        }
        @media (max-width: 835px) and (min-width: 768px) {
            padding: 50px 2% 20px 20%;
        }
    }
    .slick-slider {
        color: #4e301c;
        text-align: center;
        position: relative;
        margin-bottom: 30px;

        img {
            margin: 10px auto 0;
        }
        p {
            max-width: 220px;
            margin: 0 auto;
        }
        h3 {
            font-size: 14px;
            text-transform: uppercase;
            span {
                font-size: 20px;
                color: #c66738;
            }
        }
        .slick-arrow {
            border: none;
            outline: none;
            font-size: 0;
            width: 13px;
            height: 27px;
            position: absolute;
            top: 50%;
            @include transform ( translateY(-50%) );
        }
        .slick-prev {
            background: url(../images/global/prev.png) no-repeat;
            left: 0;
        }
        .slick-next {
            background: url(../images/global/next.png) no-repeat;
            right: 0;
        }
    }
    .tab-about {
        position: absolute;
        left: 0;
        top: 85px;
        text-align: center;
        width: 100%;
        @include screen(medium) {
            width: auto;
            top: 20%;
        }
        ul {
            position: relative;
            z-index: 10;
            @media (max-width: 767px) {
                width: 190px;
                margin: 0 auto;
            }
        }
        li {
            list-style: none;
            @media (max-width: 767px) {
                display: inline-block;
            }
            a {
                font-size: 0;
                width: 190px;
                display: block;
                min-height: 56px;
            }
            .prize {
                background: url(../images/about/tab-1.png) no-repeat;
                background-size: 100%;
            }
            .tnc {
                background: url(../images/about/tab-2.png) no-repeat;
                background-size: 100%;
            }
            .howto {
                background: url(../images/about/tab-3.png) no-repeat;
                background-size: 100%;
            }
            &.active,
            &:hover {
                a {
                    &.prize {
                        background: url(../images/about/tab-1-on.png) no-repeat;
                        background-size: 100%;
                    }
                    &.tnc {
                        background: url(../images/about/tab-2-on.png) no-repeat;
                        background-size: 100%;
                    }
                    &.howto {
                        background: url(../images/about/tab-3-on.png) no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
    }
    .gold-coin {
        position: absolute;
        bottom: 45px;
        right: -150px;
        z-index: 10;
    }
    .big-prize {
        position: absolute;
        bottom: -20px;
        right: 50px;
    }
    .product {
        position: absolute;
        left: 0;
        bottom: 120px;
        z-index: 9;
        width: 100%;
        text-align: center;
        @include screen(medium) {
            bottom: 45px;
            left: -50px;
            width: auto;
        }
    }
    .img-actor {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        @include screen(medium) {
            display: block;
        }
    }
}

.coin {
    position: absolute;
}

.coin1 {
    left: -10%;
    bottom: 25px;
    z-index: 10;
}

.coin2 {
    right: -30%;
    top: 50%;
    @media (max-width: 767px) {
        top: 10%;
        z-index: 9;
        right: 1%;
        max-width: 70px;
    }
}

.coin3 {
    right: -10%;
    top: 45%;
}

.coin4 {
    left: -15%;
    top: 30%;
}

.coin5 {
    right: -15%;
    top: -200px;
    @media (max-width: 767px) {
        top: 12%;
        z-index: 9;
        left: 1%;
        max-width: 50px;
    }
}

.coin6 {
    left: 0;
    top: 10%;
}

.coin7 {
    left: -20%;
    top: 60%;
}

.coin8 {
    right: -30%;
    top: 50%;
}

.coin9 {
    right: -10%;
    top: 10%;
}

.coin10 {
    left: -10%;
    top: -240px;
}

.coin10_1 {
    z-index: 9;
    bottom: 160px;
    left: -8%;
    max-width: 150px;
}

.coin11 {
    left: 0%;
    bottom: 30%;
}
