.page--about {
	overflow: hidden;
    background: url('../images/profile/bg.jpg') top center no-repeat;
    background-size: 100% 100%;
    padding-bottom:0;   
    min-height: 500px;
    .content-about{
        max-width: 900px;
        padding: 45px 0 ;
        margin: 0 auto;
        position: relative;
        @media ( max-width: 767px ) {
            text-align:center; 
        }
        h2 {
            max-width: 100%;
            margin: 0 auto 20px;
            font-size: 0;
            display: block;
        }
        &.howto {
            h2 {
                background: url('../images/about/tit-how.png') center no-repeat;
                width: 322px;
                min-height: 34px;
                
            }
            .col  {
                width: 36%;
                margin: 0 7% 20px;
                text-align: center;
                p {
                    text-transform: uppercase;
                    font-size: 13px;
                    color: #4e301c; 
                }
            }
        } 
        &.prize {
            h2 {
                background: url('../images/about/tit-bigprize.png') center no-repeat;
                width: 321px;
                min-height: 37px;
            }
            .wrap-content {
                 min-height: 540px; 
            }
        } 
        &.tnc {
            h2 {
            	background: url('../images/about/tit-rule.png') center no-repeat;
                width: 290x;
                min-height: 42px;
            }
            .wrap-content {
                color: #000;
                font-family: $font-iCPL; 
            }
            .wrap-text { 
                padding: 0 7% 30px;
                max-height: 600px;
                overflow-y: auto;
            }
        } 
    }
    .wrap-content {
        background: url(../images/about/bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 50px 10% 45px; 
        max-width: 100%; 
        position: relative;
        z-index: 5;
        width: 800px;
        float: right;
    }
    
    .gold-coin {
        position: absolute;
        bottom: 45px;
        right: -150px;
        z-index: 10;
    }
    .big-prize {
        position: absolute;
        bottom: -20px;
        right: 50px;
    }
    .tab-about{
        position: absolute;
        top: 20%;
        left: 0;
        ul {
            position: relative;
            z-index: 10;
        }
        li {
            list-style: none;
            a {
                font-size: 0;
                width: 190px;
                display: block;
                min-height: 56px;
            }
            .prize {
                background: url(../images/about/tab-1.png) no-repeat;
                background-size: 100%;
            }
            .tnc {
                background: url(../images/about/tab-2.png) no-repeat;
                background-size: 100%;   
            }
            .howto {
                background: url(../images/about/tab-2.png) no-repeat;
                background-size: 100%;   
            }
            .active {
                &.prize {
                    background: url(../images/about/tab-1-on.png) no-repeat;
                    background-size: 100%;
                }
                &.tnc {
                    background: url(../images/about/tab-2-on.png) no-repeat;
                    background-size: 100%;   
                }
                &.howto {
                    background: url(../images/about/tab-2-on.png) no-repeat;
                    background-size: 100%;   
                }
            }
        }
    }
    .product{
        position: absolute;
        left: -50px;
        bottom: 45px;
        z-index: 9;
    }
    .img-actor {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.coin {
    position: absolute;
}
.coin1 {
    left: -10%;
    bottom: 25px;
    z-index: 10;
}
.coin2 {
    right: -30%;
    top: 50%;
}
.coin3 {
    right: -10%;
    top: 45%;
}
.coin4 {
    left: -15%;
    top: 30%;
}
.coin5 {
    right: -15%;
    top: -200px;
}
.coin6 {
    left: 0;
    top: 10%;
}
.coin7 {
    left: -20%;
    top: 60%;
}
.coin8 {
    right: -30%;
    top: 50%;
}
.coin9 {
    right: -10%;
    top: 10%;
}
.coin10 {
    left: -10%;
    top: -120px;
}
.coin11 {
    left: 0%;
    bottom: 30%;
}