.page--group {
    .paging {
        margin: 10px 0;
        text-align: center;
        position: relative;

        .arrow {
            top: 50%;
            position: absolute;
            @include transform ( translateY(-50%) );
            &.arrow--left {
                left: 10px;
                width: 9px;
                height: 18px;
                background: url('../images/profile/left.png') no-repeat;
            }
            &.arrow--right {
                right: 10px;
                width: 9px;
                height: 18px;
                background: url('../images/profile/right.png') no-repeat;
            }
        }
    }
    .slick-arrow {
        border: none;
        cursor: pointer;
        background: none;
        display: inline-block;
        vertical-align: middle;
        &.slick-prev {
            left: 10px;
            .icon {
                background: url('../images/profile/left.png') no-repeat;
                background-size: 100% 100%;
                width: 8px;
                height: 18px;
            }
        }
        &.slick-next {
            right: 10px;
            .icon {
                background: url('../images/profile/right.png') no-repeat;
                background-size: 100% 100%;
                width: 8px;
                height: 18px;
            }
        }
    }
    .slick-dots {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            vertical-align: top;
            display: inline-block;
            @include opacity(0.8);
            &:hover,
            &.slick-active {
                @include opacity(1);
            }
        }
        button, a, .empty {
            border: none;
            background: none;
            background: url('../images/profile/num-bg.png') no-repeat;
            background-size: 100% 100%;
            padding: 0;
            width: 45px;
            height: 43px;
            display: block;
            cursor: pointer;
            line-height: 43px;

            color: #fff;
            font-size: 12px;
            font-family: $font-iCPB;
            text-align: center;
        }
    }
    .tabcontent {
        .img-profile  {
            .avatar {
                &:after {
                    display: none;
                }
            }
        }
        .upload {
            h3 {
                color: #4e301c;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
    .group-management {
        .title {
            color: #4e301c;
            font-size: 17px;
            text-align: center;
            text-transform: uppercase;
        }
        .desc {
            font-size: 12px;
            font-family: $font-standard;
            text-align: center;
        }
        .button__wrapper {
            text-align: center;

            .button {
                font-size: 13px;
                font-family: $font-iCPB;

                line-height: 50px;
                text-align: center;
                text-transform: uppercase;

                background: url('../images/buttons/button-yellow.png') no-repeat;
                width: 202px;
                height: 46px;
                &:hover {
                    background: url('../images/buttons/button-grey.png') no-repeat;
                }
            }
        }
        .remove-group {
            color: #4e301c;
            font-size: 10px;
            text-transform: uppercase;
            padding-right: 30px;
            background: url(../images/icons/remove-group.png) 100% 1px no-repeat;
            @include ab ( 30px, n, n, 35px );
            &:hover {
                opacity: 0.8;
                text-decoration: underline;
            }
        }
        .leave-group {
            color: #4e301c;
            font-size: 10px;
            text-transform: uppercase;
            padding-right: 30px;
            background: url(../images/icons/leave-group.png) 100% 1px no-repeat;
            @include ab ( 30px, n, n, 35px );
            &:hover {
                opacity: 0.8;
                text-decoration: underline;
            }
        }
        .group__info {
            margin-top: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 10px;
                    border-left: 1px solid rgba( 0, 0, 0, 0.1 );
                    &:first-child {
                        padding-left: 0;
                        border-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }

                    img, span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .calendar {
                        top: -3px;
                        position: relative;
                    }
                    .rank, .group__date-create {
                        color: #4e301c;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    .group__date-create {
                        color: #8c5842;

                        strong {
                            color: #4e301c;
                        }
                    }
                }
            }
        }
        .group__leader {
            font-size: 12px;
            text-transform: uppercase;

            span, img, strong {
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px;
            }
            strong {
                color: #4e301c;
            }
            .leader_name {
                .name {
                    color: #8c5842;
                }
            }
            .group__money {
                margin-top: 5px;

                .money {
                    color: #ffd07d;
                    font-size: 24px;
                    -webkit-text-stroke: 1px #77472a;
                    text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                }
            }
        }
        .group__members {

            @include respond-to(mobile){
                position: relative;
                &:before {
                    content: '';
                    background: url('../images/group/line-v.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 5px;
                    height: 100%;
                    @include ab (0, -2%, n, n );
                }
                &:after {
                    content: '';
                    background: url('../images/group/line-v.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 5px;
                    height: 100%;
                    @include ab (0, n, n, -2% );
                }
            }
            .statistic {
                position: relative;
                @include respond-to(mobile){
                    padding: 20px 0 25px;
                }
                &:before {
                    content: '';
                    background: url('../images/group/line.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 103.5%;
                    height: 8px;
                    @include ab ( n, -2%, -15px, n );
                    @include screen (medium){
                        width: 100%;
                        @include ab ( n, -5px, -10px, n );
                    }
                }
                &:after {
                    @include respond-to(mobile){
                        content: '';
                        background: url('../images/group/line.png') center center no-repeat;
                        background-size: 100% 100%;
                        width: 103.5%;
                        height: 8px;
                        @include ab ( -3px , -2% , n , n );
                    }

                }

                span {
                    color: #64462e;
                    font-size: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    padding: 0 5px;
                }

                .title {
                    color: #f4b140;
                    -webkit-text-stroke: 1px #4f2912;
                    text-shadow: 2px 2px 0 #4f2912, -1px -1px 0 #4f2912, 1px -1px 0 #4f2912, -1px 1px 0 #4f2912, 1px 1px 0 #4f2912;
                }
                .members {
                    float: left;
                    @include respond-to(mobile){
                        margin-left: 15px;
                    }
                    .numbers {
                        @include respond-to(mobile){
                            display: none;
                        }
                    }
                    &:after {
                        @include respond-to(mobile){
                            content: '';
                            position: absolute;
                            left: 50%;
                            border-left: 1px solid;
                            width:1px;
                            height: 25px;
                            top: 18px;
                        }
                    }
                }
                .waiting {
                    float: right;
                    position: relative;

                    .title {
                        color: #c4ad89;
                        padding-right: 30px;
                        -webkit-text-stroke: 1px #4e301c;
                        text-shadow: 2px 2px 0 #4e301c, -1px -1px 0 #4e301c, 1px -1px 0 #4e301c, -1px 1px 0 #4e301c, 1px 1px 0 #4e301c;
                    }
                    .bubble {
                        color: #64462e;
                        width: 29px;
                        height: 26px;
                        background: url('../images/icons/bubble.png') no-repeat;
                        @include ab ( -15px, n, n, 0 );
                        text-align: center;
                        line-height: 25px;
                        font-size: 12px;
                    }
                }
            }
        }
        .list-members {
            margin:20px 0 58px;
            padding: 20px 0px 30px 5px;
            max-height: 450px;
            overflow-y: auto;
            text-align: left;
            @include screen(medium){
                padding: 0 0 60px;
                margin-bottom: 0;
            }
            &:after {
                @include respond-to(mobile) {
                    content: '';
                    background: url('../images/group/line.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 103.5%;
                    height: 8px;
                    @include ab ( n, -2%, -3px, n );
                }
            }
            #mCSB_1_scrollbar_vertical {
                width: 15px;
            }
            .mCSB_draggerRail {
                background: url('../images/group/line-v.png') center no-repeat;
                width: 5px;
            }
            .mCSB_dragger .mCSB_dragger_bar {
                background-color: transparent;
            }
            #mCSB_1_dragger_vertical {
                background: url('../images/group/dot.png') center no-repeat;
                width: 15px;
                height: 17px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 10px 0;
                    border-top: 1px solid rgba( 0, 0, 0, 0.1 );
                    &:first-child {
                        border-top: 0;
                        padding-top: 0;
                    }

                    a {
                        display: block;
                        position: relative;
                        &.current {
                            background-color: #d9ae77;
                        }
                    }
                    .wrap-avatar {
                        background: url(../images/global/avatar.png) center top no-repeat;
                        background-size: 100%;
                        width: 80px;
                        margin: 0;
                        position: relative;
                        min-height: 80px;
                        display: inline-block;
                        vertical-align: middle;

                        img {
                            top: 5px;
                            left: 5px;
                            max-width: 85%;
                            position: absolute;
                            @include border-radius(50%);
                        }
                        .number {
                            color: #ffd07d;
                            font-size: 20px;
                            -webkit-text-stroke: 1px #77472a;
                            text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                            text-transform: uppercase;
                            @include ab ( n, 50%, -5px, n );
                            @include transform ( translateX(-50%) );
                        }
                    }
                    .info {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 12px;
                        text-transform: uppercase;
                        text-align: left;
                        @include respond-to(mobile){
                            border-bottom: 2px solid #ddbe90; 
                        }

                        span, img, strong {
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 5px;
                        }
                        strong {
                            color: #4e301c;
                            @include respond-to(mobile){
                                display: none;
                            }
                        }
                        .name {
                            .name {
                                color: #8c5842;
                            }
                        }
                        .money__wrapper {
                            margin-top: 5px;

                            .money {
                                color: #ffd07d;
                                font-size: 18px;
                                -webkit-text-stroke: 1px #77472a;
                                text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                                @include screen(small){
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    .action {
                        display: inline-block;
                        vertical-align: middle;
                        @include respond-to(mobile){
                            margin-left: 85px;
                        }
                        @include screen(ipad){
                            margin-top: 20px;
                            float: right;
                        }

                        a {
                            margin: 0 5px;
                            display: block;
                            vertical-align: middle;
                            padding-left: 30px;
                            color: #4e301c;
                            @include screen(small){
                                display: inline-block;
                                text-indent: -99999px;
                            }
                            &.approve {
                                background: url('../images/icons/confirm-member-active.png') no-repeat;
                                background-size: 22px 20px;
                                @include screen(small){
                                    background: url('../images/icons/confirm-member.png') no-repeat;
                                    background-size: 100% 100%;
                                    width: 50px;
                                    height: 40px;
                                }
                                &:hover {
                                    background: url('../images/icons/confirm-member-active.png') no-repeat;
                                    background-size: 22px 20px;
                                    @include screen(small){
                                        background-size: 100% 100%;
                                    }
                                }
                            }
                            &.remove {
                                background: url('../images/icons/remove-member-active.png') no-repeat;
                                background-size: 22px 20px;
                                @include screen(small){
                                    background: url('../images/icons/remove-member.png') no-repeat;
                                    background-size: 100% 100%;
                                    width: 46px;
                                    height: 42px;
                                }
                                &:hover {
                                    background: url('../images/icons/remove-member-active.png') no-repeat;
                                    background-size: 22px 20px;
                                    @include screen(small){
                                        background-size: 100% 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .group-management--no-group {
        padding-top: 50px;
    }
}
