.page--home {
	overflow: hidden;
    min-height: 1251px;
	background: url('../images/home/main-bg--mobile.jpg') top center no-repeat;
    background-size: 100% 100%;
    @include screen ( ipadPortrait ) {
        background: url('../images/home/main-background.jpg') center center no-repeat;
        background-size: cover;
        min-height: auto;
    }

    .home {
    	width: 100%;
    	height: auto;
    	z-index: 1;
    	position: relative;
    	@include screen ( medium ) {
    		min-height: calc(100vh - 45px);
    	}
    	@include screen ( hd ) {
    		min-height: calc(100vh - 163px);
    	}
    }

	/** CTA Content **/
	.cta {
		z-index: 4;
		width: 100%;
		text-align: center;
		position: relative;
		@include screen ( medium ) {
			width: auto;
			@include ab ( 10%, 50%, n, n );
			@include transform ( translateX(-50%) );
		}

		.tagline {
			opacity: 0;
			width: 100%;
			max-width: 490px;
			margin: 0 auto;
			@include transform ( scale(0) );
			@include transition ( all .3s linear );
			&.animate {
				opacity: 1;
				@include transform ( scale(1) );
			}
		}
		.button__wrapper {
			opacity: 0;
			@include transform ( scale(0.5) );
			@include transition ( all .3s ease-in-out );
			&.animate {
				opacity: 1;
				@include transform ( scale(1) );
			}

			.button {
				font-size: 13px;
			    font-family: $font-iCPB;

			    line-height: 50px;
			    text-align: center;
			    text-transform: uppercase;

			    background: url('../images/buttons/button-yellow.png') no-repeat;
			    width: 202px;
			    height: 46px;
			    &:hover {
			    	background: url('../images/buttons/button-grey.png') no-repeat;
			    }
			}
		}
	}

	/** Group Characters **/
	.characters {
		z-index: 3;
		opacity: 0;
		position: relative;
		@include transform ( translateX(-50%) );
		@include transition ( all .5s ease-in-out );
	}
	.characters-left {
		margin-left: -50%;
		@include ab ( n, 50%, -5px, n );
		&.animate {
			opacity: 1;
			margin-left: -20%;
		}
	}
	.characters-right {
		margin-left: 50%;
		@include ab ( 10%, 50%, n, n );
		&.animate {
			opacity: 1;
			margin-left: 15%;
		}
	}
	.characters-mobile {
		width: 100%;
		max-width: 316px;
		margin: 0 auto;
		@include transform ( scale(0.5) );
		&.animate {
			opacity: 1;
			@include transform ( scale(1) );
		}
	}

	/** Group Coins **/
	.coins__wrapper {
		width: 100%;
		height: 100%;
		@include ab ( 0, 0, n, n );

		.scene {
			width: 100%;
			height: 100%;
			min-height: 460px;
			position: relative;
		}
	}
	.group-coins {
		opacity: 0;
		position: absolute;
		@include transition ( all .3s ease-in-out );
		&.group-coins-1 {
			top: 35%;
			left: 2%;
		}
		&.group-coins-2 {
			top: 15%;
			left: -2%;
		}
		&.group-coins-3 {
			top: 12%;
			left: 35%;
		}
		&.group-coins-4 {
			top: 0;
			left: auto;
			right: 0;
		}
		&.group-coins-5 {
			top: 7%;
			left: auto;
			right: 25%;
		}
		&.group-coins-6 {
			top: auto;
			left: auto;
			right: 0;
			bottom: 0;
		}
	}

	/** Toonies Snack **/
	.toonies-snack {
		z-index: 3;
		@include ab ( n, -10%, 12%, n );
		opacity: 0;
		width: 100%;
		max-width: 319px;
		@include transform ( scale(0.5) );
		@include transition ( all .5s ease-in-out );
		&.animate {
			opacity: 1;
			@include transform ( scale(1) );
			@include screen ( medium ) {
				left: 5%;
				@include transform (scale(1));
			}
		}
		@include screen ( medium ) {
			z-index: 0;
			bottom: 0;
		}
		@include screen ( hd ) {
			left: 5%;
		}
	}
	.toonies-snack--right {
		max-width: 215px;
		left: auto;
		right: 0%;
		&.animate {
			@include screen ( medium ) {
				left: auto;
				right: 5%;
			}
		}
		@include screen ( hd ) {
			left: auto;
			right: 5%;
		}
	}

	/** Gold Chest **/
	.gold-chest {
		z-index: 1;
		margin-left: 35%;
		@include ab ( n, 0, -10%, n );
		opacity: 0;
		@include transform ( scale(0.5) );
		@include transition ( all .5s ease-in-out );
		@include screen ( large ) {
			bottom: -5%
		}
		&.animate {
			opacity: 1;
			@include transform ( scale(1) );
		}
	}

	/** TVC Content **/
	/* .tvc {} */
	.tvc-introduction {
		z-index: 4;
		opacity: 0;
		margin: 0 auto;
		max-width: 261px;
		@include ab ( n, 50%, 115px, n );
		@include transform ( translateX(-50%) );
		@include transition ( all .3s ease-in-out );
		@include screen ( medium ) {
			z-index: 0;
			left: auto;
			bottom: auto;
			@include ab ( 50%, n, n, 0 );
			@include transform ( translateY(-50%) );
		}
		&.animate {
			opacity: 1;
			@include screen ( medium ) {
				right: 10px;
			}
			@include screen ( hd ) {
				right: 5%;
			}
		}

		h3 {
			width: 174px;
			height: 31px;
			background: url('../images/home/text-video-right.png') no-repeat;
			margin: 0 auto;

			text-indent: -9999px;
		}
		.video {
			width: 261px;
			height: 175px;
			background: url('../images/home/bgd-video.png') no-repeat;

			margin-top: -5px;

			.inner {
				width: 100%;
				height: 100%;
				padding: 10px;

				.embed-container {
					padding: 0;
					height: 100%;
				}
			}
		}
		.video--popup {
			display: table;

			/* .inner {} */
			.wrap-img {
				width: 100%;
				height: 100%;
				padding: 10px 0;
				background-color: #000;
				position: relative;
				display: block;
				&:hover {
					span {
						opacity: 1;
						background: url('../images/icons/youtube--active.png') center center no-repeat;
						background-size: 100% 100%;
					}
				}

				span {
					background: url('../images/icons/youtube.png') center center no-repeat;
					background-size: 100% 100%;
					width: 100%;
					max-width: 50px;
					height: 35px;
					opacity: 0.9;
					@include ab ( 50%, 50%, n, n );
					@include transform ( translate(-50%, -50%) );
				}
			}
		}
	}
}
