.page--leaderboard {
    overflow: hidden;
    background: url('../images/profile/bg.jpg') top center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0;
    min-height: 500px;

    .content-leaderboard {
        max-width: 900px;
        padding: 45px 0;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        @media ( max-width: 767px) {
            text-align: center;
        }

        h2 {
            background: url('../images/leader-board/title.png') center no-repeat;
            background-size: 100%;
            width: 393px;
            max-width: 94%;
            font-size: 0;
            margin: 0 auto;
            min-height: 44px;
            z-index: 5;
            position: relative;
            @include screen ( small ) {
                max-width: 100%;
            }
        }
    }
    .content-leaderboard--new {
        .wrap-content {
            width: 832px;
            min-height: 1101px;
            padding: 50px 5% 45px;
            background: url(../images/leader-board/bg_new.png) no-repeat;
            @media (max-width: 767px) {
                background: url(../images/leader-board/bg_mb.png) no-repeat;
                background-size: 100% 100%;
                min-height: auto;
                padding: 50px 5% 30px;
                margin: 30px auto 120px;
            }
        }
        .wrap-list {
            @include screen ( medium ) {
                margin: 45px 0;
            }

            .col {
                width: 100%;
                float: none;
                @include screen ( medium ) {
                    margin-top: 40px;
                    &:first-child {
                        margin-top: 0;
                    }
                }

                .wrap-avatar {
                    @include screen ( medium ) {
                        width: 26%;
                        float: left;
                    }
                    &.wrap-avatar-1 {
                        .inner {
                            background: url('../images/leader-board/circle-1.png') center center no-repeat;
                        }
                    }
                    &.wrap-avatar-2 {
                        .inner {
                            background: url('../images/leader-board/circle-2.png') center center no-repeat;
                        }
                    }
                    &.wrap-avatar-3 {
                        .inner {
                            background: url('../images/leader-board/circle-3.png') center center no-repeat;
                        }
                    }

                    .inner {
                        width: 100%;
                        max-width: 195px;
                        margin: 0 auto;
                        height: 195px;
                        position: relative;

                        .ranking {
                            top: auto;
                            @include ab ( n, 50%, -20px, n );
                            @include transform ( translateX( -50% ) );
                        }
                    }
                    img {
                        top: 25px;
                        left: 0;
                        position: relative;
                        max-width: 145px;
                        @include border-radius ( 50% );
                    }
                }
                .info {
                    margin-top: 20px;
                    @include screen ( medium ) {
                        width: 74%;
                        float: left;
                        padding-left: 40px;
                        margin-top: 0;
                    }

                    p {
                        display: block;
                        text-align: left;
                        position: relative;
                        margin-top: 1em;
                        &:first-child {
                            margin-top: 0;
                        }

                        img, span {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span {
                            margin-left: 5px;
                            color: #4e301c;
                            font-size: 20px;
                            font-family: $font-iCPB;
                        }
                    }
                    .coin {
                        img {
                            max-width: 30px;
                        }
                    }
                    .money, .coin {
                        span {
                            font-size: 13px;
                            &:last-child {
                                color: #ffd07d;
                                font-size: 22px;
                                -webkit-text-stroke: 1px #77472a;
                                text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                            }
                        }
                    }
                    .moments {
                        margin-top: 1em;

                        ul {
                            margin: 0;
                            padding: 0;
                            text-align: left;
                            list-style: none;

                            li {
                                width: 25%;
                                float: left;
                                padding: 0 5px;
                                &:first-child {
                                    padding-left: 0;
                                }

                                .inner {
                                    position: relative;
                                    border: 3px solid #b57c0b;
                                    &:before {
                                        content: '';
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba( 0, 0, 0, 0.7 );
                                        @include ab ( 0, 0, n, n );
                                    }

                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .slick-slider {
            .slick-arrow {
                top: 20%;
            }
        }
    }
    .content-leaderboard--hunter {
        .wrap-content {
            width: 832px;
            min-height: auto;
            padding: 50px 5% 45px;
            background: url(../images/leader-board/bg_new_2.png) no-repeat;
            @media (max-width: 767px) {
                background: url(../images/leader-board/bg_new_2-mobile.png) no-repeat;
                min-height: 1384px;
                background-size: 100% 100%;
                padding: 50px 5% 30px;
                margin: 30px auto 120px;
            }
        }
        .field {
            .select-wrapper {
                width: 100%;
                max-width: 294px;
                height: 57px;
                border: none;
                background: url('../images/leader-board/bg-filter.png') center center no-repeat;
                background-size: 100% 100%;
                &:after {
                    display: none;
                }
            }
            span {
                top: 50%;
                padding: 0;
                @include transform ( translateY(-50%) );
            }
        }
        .wrap-list {
            margin: 15px 0;

            .col {
                &.col-winner {
                    width: 100%;
                    float: none;
                    margin: 0;
                    padding: 0 10px;
                    @include screen ( medium ) {
                        width: 70%;
                        float: left;
                        padding: 0;
                        margin: 0 1.5%;
                    }
                }
                &.col-top-twenty {
                    width: 100%;
                    float: none;
                    margin: 20px 0 40px;
                    padding: 0 10px;
                    position: relative;
                    @include screen ( medium ) {
                        width: 24%;
                        float: left;
                        padding: 0;
                        margin: 0 1.5%;
                        &:before {
                            content: '';
                            width: 17px;
                            height: 995px;
                            background: url('../images/leader-board/v-line.png') no-repeat;
                            @include ab( -25px, -20px, n, n );
                        }
                    }

                    .title {
                        line-height: normal;
                        color: #4e301c;
                        font-size: 18px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            padding: 5px 0;

                            a {
                                display: block;
                            }
                        }
                    }
                    .slick-arrow {
                        top: 50%;
                        @include transform ( translateY(-50%) );
                        @include screen ( medium ) {
                            width: 100%;
                            height: auto;
                            font-size: inherit;
                            font-family: $font-iCPB;
                            text-align: center;
                            text-transform: uppercase;

                            top: auto;
                            left: auto;
                            background: none;
                            position: relative;
                            transform: none;

                            cursor: pointer;
                            &.slick-prev {
                                top: 10px;

                                .icon {
                                    width: 25px;
                                    height: 13px;
                                    display: block;
                                    margin: 0 auto 5px;
                                    background: url('../images/leader-board/arrow-up.png') no-repeat;
                                }
                            }
                            &.slick-next {
                                top: -10px;

                                .icon {
                                    width: 25px;
                                    height: 13px;
                                    display: block;
                                    margin: 5px auto 0;
                                    background: url('../images/leader-board/arrow-down.png') no-repeat;
                                }
                            }

                            span {
                                color: #5b3626;
                                font-size: 13px;
                                display: inline-block;
                            }
                        }
                    }
                    .wrap-avatar {
                        .inner {
                            .ranking {
                                bottom: -10px;
                            }
                        }
                    }
                    .counter {
                        display: block;
                        margin-top: 15px;
                        color: #4e301c;
                        font-size: 14px;
                        font-family: $font-iCPB;
                        line-height: normal;
                        @include screen ( medium ) {
                            display: none;
                        }
                    }
                }

                .wrap-avatar {
                    width: 100%;
                    max-width: 195px;
                    margin: 0 auto;
                    &.wrap-avatar-1 {
                        .inner {
                            background: url('../images/leader-board/circle-1.png') center center no-repeat;
                            background-size: 100%;
                        }
                    }
                    &.wrap-avatar-2 {
                        .inner {
                            background: url('../images/leader-board/circle-2.png') center center no-repeat;
                            background-size: 100%;
                        }
                    }
                    &.wrap-avatar-3 {
                        .inner {
                            background: url('../images/leader-board/circle-3.png') center center no-repeat;
                            background-size: 100%;
                        }
                    }
                    &.wrap-avatar-normal {
                        .inner {
                            background: url('../images/global/avatar-user.png') center center no-repeat;
                            background-size: 100%;
                        }
                    }

                    .inner {
                        width: 100%;
                        max-width: 195px;
                        margin: 0 auto;
                        height: 195px;
                        position: relative;

                        .ranking {
                            top: auto;
                            @include ab ( n, 50%, -20px, n );
                            @include transform ( translateX( -50% ) );
                        }
                    }
                    img {
                        top: 25px;
                        left: 0;
                        position: relative;
                        max-width: 145px;
                        @include border-radius ( 50% );
                    }
                }
                .info {
                    margin-top: 40px;
                    text-align: center;

                    p {
                        display: block;
                        position: relative;
                        margin: 0;
                        padding-top: 1em;
                        &:first-child {
                            padding-top: 0;
                        }

                        img, span {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span {
                            margin-left: 5px;
                            color: #4e301c;
                            font-size: 12px;
                            font-family: $font-iCPB;
                            @include screen ( medium ) {
                                font-size: 15px;
                            }
                        }
                    }
                    .ranking {
                        padding-top: 0;
                        padding-bottom: 1em;
                        &:after {
                            content: '';
                            width: 60%;
                            height: 1px;
                            background-color: rgba( 40, 40, 40, 0.1 );
                            @include ab ( n, 50%, 0, n );
                            @include transform ( translateX(-50%) );
                        }

                        span {
                            font-size: 14px;
                            font-family: $font-standard;
                        }
                    }
                    .name {
                        span {
                            font-size: 18px;
                            @include screen ( medium ) {
                                font-size: 20px;
                            }
                        }
                    }
                    .coin {
                        img {
                            max-width: 30px;
                        }
                    }
                    .money, .coin {
                        span {
                            &:last-child {
                                color: #ffd07d;
                                font-size: 22px;
                                -webkit-text-stroke: 1px #77472a;
                                text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                            }
                        }
                    }
                }
                .tnc {
                    width: 100%;
                    max-width: 246px;
                    height: 324px;
                    padding: 7%;
                    margin: 20px auto 0;
                    background: url('../images/leader-board/bg-tnc-mobile.png') center center no-repeat;
                    background-size: 100%;
                    @include screen ( small ) {
                        max-width: 490px;
                        height: 253px;
                        padding: 5% 7%;
                        margin: 40px auto 0;
                        background: url('../images/leader-board/bg-tnc.png') center center no-repeat;
                        background-size: 100%;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            display: block;

                            p {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .pager {
        @media (max-width: 767px) {
            position: relative;
            .number {
                display: inline-block;
            }
            .prev, .next {
                padding: 0;
                font-size: 0;
                position: absolute;
                top: 0;
            }
            .prev {
                left: 0;
            }
            .next {
                right: 0;
            }
        }
    }
    .slick-slider {
        position: relative;
        text-align: center;

        img {
            margin: 0 auto;
        }
        p {
            max-width: 280px;
            margin: 0 auto;
        }
        .slick-arrow {
            border: none;
            outline: none;
            font-size: 0;
            width: 13px;
            height: 27px;
            position: absolute;
            top: 30%;
        }
        .slick-prev {
            background: url(../images/global/prev.png) no-repeat;
            left: 5%;
        }
        .slick-next {
            background: url(../images/global/next.png) no-repeat;
            right: 5%;
        }
    }
    .wrap-content {
        background: url(../images/leader-board/bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 50px 10% 45px;
        max-width: 100%;
        position: relative;
        z-index: 5;
        margin: 30px auto;
        width: 830px;
        color: #4e301c;
        @media (max-width: 767px) {
            background: url(../images/leader-board/bg_mb.png) no-repeat;
            background-size: 100% 100%;
            padding: 50px 10% 30px;
            margin: 30px auto 120px;
        }
    }
    .block-top {
        width: 100%;
        text-align: center;
        margin: -60px 0 30px;
        @include screen ( medium ) {
            margin: 0;
            @include ab ( -30px, 0, n, n );
        }

        label {
            font-family: $font-iCPB;
            text-transform: uppercase;
            display: inline-block;
        }
        .select-wrapper {
            background: url(../images/leader-board/tab-mb.png) no-repeat;
            background-size: 100%;
            width: 202px;
            display: block;
            min-height: 56px;
            margin: 15px auto 0;
            &:after {
                content: '';
                position: absolute;
                background: url(../images/leader-board/arrow-dropdown.png) no-repeat;
                width: 5px;
                height: 10px;
                top: 20px;
                right: 10px;
            }
            select {
                min-height: 50px;
            }
            span {
                top: 15px;
                left: 15px;
                color: #ffd07d;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
    .wrap-list {
        margin-bottom: 45px;

        .col {
            font-size: 13px;
            width: 30%;
            text-align: center;
            margin: 0 1.5%;
            margin-bottom: 20px;
            &.user {
                .avatar {
                    background: url(../images/global/avatar-user.png) center top no-repeat;
                    background-size: 100%;
                }
            }

            span {
                line-height: normal;
            }
            .style1 {
                font-size: 13px;
                font-family: $font-standard;
                text-transform: capitalize;
            }
            .style2 {
                color: #9f521e;
                font-size: 12px;
                display: inline-block;
            }
            .info {
                line-height: 18px;
                text-transform: uppercase;
            }
            .score {
                color: #ffd07d;
                font-size: 20px;
                -webkit-text-stroke: 1px #77472a;
                text-shadow: 3px 3px 0 #77472a, -1px -1px 0 #77472a, 1px -1px 0 #77472a, -1px 1px 0 #77472a, 1px 1px 0 #77472a;
                @include ab ( n, 50%, 0, n );
                @include transform ( translateX(-50%) );
            }
            .empty {
                margin: 0;
                line-height: 170px;
                color: #673f25;
                font-size: 3em;
            }
        }
        /* .first {
            .avatar:after {
                background: url(../images/icons/medal-first.png) no-repeat;
            }
        }
        .second {
            .avatar:after {
                background: url(../images/icons/medal-second.png) no-repeat;
                width: 60px;
                height: 57px;
            }
        }
        .third {
            .avatar:after {
                background: url(../images/icons/medal-third.png) no-repeat;
                width: 57px;
                height: 54px;
            }
        } */
        .avatar {
            background: url(../images/global/avatar.png) center top no-repeat;
            background-size: 100%;
            max-width: 170px;
            margin: 0 0 15px 5%;
            position: relative;
            min-height: 170px;
            @media (max-width: 767px) {
                margin: 0 auto 15px;
            }
            img {
                top: 12px;
                left: 13px;
                max-width: 84%;
                position: absolute;
                @include border-radius(50%);
            }
            .icon {
                top: auto;
                @include ab ( n, 50%, 0, n );
                @include transform ( translateX(-50%) );
            }
            /* &:after {
                content: '';
                position: absolute;
                width: 62px;
                height: 58px;
                left: 34%;
                top: 73%;
            } */
        }
    }
    .wrap-list--group {
        margin-bottom: 0;
    }
    .field {
        text-align: center;
        margin-bottom: 20px;
        label {
            display: inline-block;
            text-transform: uppercase;
            margin-right: 10px;
        }
        .select-wrapper {
            max-width: 280px;
            display: inline-block;
            background: #d8b785;
            border: 1px solid;
            height: 45px;
            &:after {
                content: '';
                position: absolute;
                background: url(../images/profile/arrow-select.png) no-repeat;
                width: 5px;
                height: 10px;
                top: 15px;
                right: 10px;
            }
        }
        span {
            color: #4e301c;
            width: 90%;
            padding-top: 10px;
            font-size: 12px;
            text-align: center;
        }
    }
    .tab {
        @media (max-width: 767px) {
            width: 215px;
            margin: 0 auto;
        }
        li {
            list-style: none;
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            a {
                font-size: 0;
                width: 214px;
                display: block;
                min-height: 56px;
                &.month {
                    background: url(../images/leader-board/tab-month.png) no-repeat;
                    background-size: 100%;
                }
                &.week {
                    background: url(../images/leader-board/tab-week.png) no-repeat;
                    background-size: 100%;
                }
                &.group {
                    background: url(../images/leader-board/tab-group.png) no-repeat;
                    background-size: 100%;
                }
                &.part {
                    &.part-1 {
                        background: url(../images/leader-board/part-1.png) no-repeat;
                        background-size: 100%;
                    }
                    &.part-hunter {
                        background: url(../images/leader-board/tab-hunter.png) no-repeat;
                        background-size: 100%;
                    }
                }
                &.active {
                    &.month {
                        background: url(../images/leader-board/tab-month-on.png) no-repeat;
                        background-size: 100%;
                    }
                    &.week {
                        background: url(../images/leader-board/tab-week-on.png) no-repeat;
                        background-size: 100%;
                    }
                    &.group {
                        background: url(../images/leader-board/tab-group-on.png) no-repeat;
                        background-size: 100%;
                    }
                    &.part {
                        &.part-1 {
                            background: url(../images/leader-board/part-1-active.png) no-repeat;
                            background-size: 100%;
                        }
                        &.part-hunter {
                            background: url(../images/leader-board/tab-hunter-active.png) no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    .coin {
        z-index: 4;
        position: absolute;
    }
    .coin3 {
        left: -5%;
        top: 60%;
    }
    .coin4 {
        top: 20%;
    }
    .coin5 {
        left: 10%;
        top: 2%;
    }
    .coin7 {
        top: 40%;
    }
    .coin10 {
        left: -10%;
        top: -120px;
    }
    .coin11 {
        top: 15%;
        left: -15%
    }
    .coin12 {
        right: -10%;
        top: 0%;
    }
    .coin13 {
        top: 55%;
        left: -5%;
    }
    .coin14 {
        top: 70%;
        left: -12%
    }
}
