.page--treasure-hunt {
	width: 100%;
	height: 100%;
	min-height: 1822px;
	background: url( '../images/treasure_hunt/main-background-mobile.jpg' ) center center no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	@include screen ( ipad ) {
		background: none;
		min-height: 770px;
	}
	&:before {
    	content: '';
    	width: 100%;
    	height: 100%;
    	z-index: 9;
    	background: rgba( 0, 0, 0, 0.9 );
    	@include ab ( 0, 0, n, n );
    	display: none;
    }
    &.show-modal {
    	min-height: 661px;
    	&:before {
    		display: block;
    	}
    }

    .heading--mobile {
    	z-index: 1;
		position: relative;
    	margin: 20px auto 0;
    	text-indent: -9999px;
    	width: 204px;
    	height: 51px;
    	background: url('../images/treasure_hunt/heading-mobile.png') no-repeat;
    	@include screen ( ipad ) {
    		display: none;
    	}
    }
    .map-overview {
    	margin-top: 15px;
    	border: 2px solid #6d5239;
    	border-left: 0;
    	border-right: 0;
    	@include screen ( ipad ) {
    		display: none;
    	}

    	img {
    		width: 100%;
    	}
    }

    .menu-area {
    	margin: 0;
    	padding: 0 0 120px;
    	list-style: none;
    	@include screen ( ipadPortrait ) {
    		padding: 0;
    	}
    	@include screen ( ipad ) {
    		display: none;
    	}

    	li {
    		position: relative;
    		border-top: 2px solid #6d5239;
    		&:first-child {
    			border-top: 0;
    		}
    		&.center {
    			text-align: center;
    		}
    		&.right {
    			text-align: right;
    		}

    		.tag {
    			width: 211px;
    			height: 56px;
    			margin: 0 auto;
    			text-align: left;
    			text-indent: -9999px;
    			@include ab ( 5px, 50%, n, n );
    			@include transform ( translateX(-50%) );
    			&.tag-1 {
    				background: url('../images/buttons/area-1.png') no-repeat;
    			}
    			&.tag-2 {
    				background: url('../images/buttons/area-2.png') no-repeat;
    			}
    			&.tag-3 {
    				background: url('../images/buttons/area-3.png') no-repeat;
    			}
    			&.tag-4 {
    				background: url('../images/buttons/area-4.png') no-repeat;
    			}
    			&.tag-5 {
    				background: url('../images/buttons/area-5.png') no-repeat;
    			}
    			&.tag-6 {
    				background: url('../images/buttons/area-6.png') no-repeat;
    			}
    		}
    	}
    }
    .tooltip_templates {
    	display: none;
   	}

	/** Treasure Hunt Content **/
	.treasure-hunt {
	    width: 100%;
	    height: 100vh;
	    min-height: 770px;
		z-index: 1;
	    overflow: hidden;
		position: relative;
	    margin-top: -117px;
	    display: none;
	    @include screen ( ipad ) {
	    	display: block;
	    }
	    &.default {
	    	height: 100%;
	    }

	    .heading {
	    	width: 100%;
	    	max-width: 347px!important;
	    	@include ab ( 50%, 50%, 0, 0 );
	    	@include transform ( translate(-50%, -50%) );
	    }
	    .button--back {
	    	font-size: 13px;
		    font-family: $font-iCPB;

		    line-height: 50px;
		    text-align: center;
		    text-transform: uppercase;

		    width: 202px;
		    height: 46px;
		    background: url('../images/buttons/button-yellow.png') no-repeat;
		    z-index: 3;
		    @include ab ( n, 20px, 60px, n );
		    &:hover {
		    	background: url('../images/buttons/button-grey.png') no-repeat;
		    }

		    img {
		    	display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				margin-top: -3px;
		    }
	    }
	    .flag {
	    	position: absolute;
	    	background: url('../images/treasure_hunt/flag.png');
	    	width: 200px;
	    	height: 200px;
	    }
	    .treasure-hunt-content {
	     	width: 100%;
		    height: 100%;
		    min-height: 770px;
		    overflow: hidden;

			>.outer {
				width: 100%;
			    height: 100%;
			    margin: 0 auto;
			    /* max-width: 1920px; */
			    top: 0;
			    left: 0;
			    position: relative;

				>.inner {
					cursor: move;
					>img {
						max-width: none;
					}
					/* &.draggable {} */
					&.default {
						cursor: pointer;

						.area__wrapper {
							@include transform ( scale(0.3) );
							&.area-1 {
								/* bottom: 45px; */
								@include transform-origin ( bottom left );
							}
							&.area-2 {
								@include transform-origin ( top left );
							}
							&.area-3 {
								left: auto;
								@include transform-origin ( top center );
							}
							&.area-4 {
								@include transform-origin ( top right );
							}
							&.area-5 {
								@include transform ( scale(0.3) translateY(-50%) );
								@include transform-origin ( top right );
							}
							&.area-6 {
								/* bottom: 45px; */
								@include transform-origin ( bottom right );
							}
						}
						>img {
							max-width: 100%;
							@include transition( all .3s ease-in-out );
						}
					}

					.mask {
						z-index: 2;
						@include ab ( 0, 0, n, n );
					}
				}
			}
	    }
		.area__wrapper {
			z-index: 1;
			position: absolute;
			@include transition( all .3s ease-in-out );
			&.active {
				.area {
					filter: none;
				}
			}
			&.area-1 {
				left: 0;
				bottom: 0;

				.flag {
					top: 25%;
					left: 25%;
				}
				.coin {
					&.coin-1 {
						top: 5%;
						left: 10%;
					}
					&.coin-2 {
						top: 25%;
						left: 0;
					}
					&.coin-3 {
						top: 40%;
						left: 3%;
					}
					&.coin-4 {
						top: 20%;
						left: 13%;
					}
					&.coin-5 {
						top: 45%;
						left: 15%;
					}
					&.coin-6 {
						top: 55%;
						left: 21%;
					}
					&.coin-7 {
						bottom: 31%;
						left: 30%;
					}
					&.coin-8 {
						bottom: 26%;
						left: 12%;
					}
					&.coin-9 {
						bottom: 30%;
						left: 40%;
					}
					&.coin-10 {
						bottom: 7%;
						left: 0;
					}
					&.coin-11 {
						bottom: 17%;
						left: 32%;
					}
					&.coin-12 {
						bottom: 5%;
						left: 10%;
					}
					&.coin-13 {
						bottom: 4%;
						left: 35%;
					}
					&.coin-14 {
						bottom: 5%;
						left: 45%;
					}
					&.coin-15 {
						bottom: 20%;
						left: 3%;
					}
					&.coin-16 {
						bottom: 5%;
						left: 20%;
					}
				}
			}
			&.area-2 {
				top: 0;
				left: 0;

				.flag {
				    top: 45%;
				    left: 45%;
				}
				.coin {
					&.coin-1 {
						top: 11%;
						left: 25%;
					}
					&.coin-2 {
						top: 16%;
						left: 2%;
					}
					&.coin-3 {
						top: 35%;
						left: 80%;
					}
					&.coin-4 {
						top: 30%;
						left: 11%;
					}
					&.coin-5 {
						top: 42%;
						left: 27%;
					}
					&.coin-6 {
						top: 45%;
						left: 60%;
					}
					&.coin-7 {
						top: 31%;
						left: 30%;
					}
					&.coin-8 {
						top: 60%;
						left: 23%;
					}
					&.coin-9 {
						top: 60%;
						left: 55%;
					}
					&.coin-10 {
						bottom: 25%;
						right: 5%;
					}
					&.coin-11 {
						bottom: 15%;
						right: 0;
					}
					&.coin-12 {
						bottom: 65%;
						right: 40%;
					}
					&.coin-13 {
						bottom: 40%;
						right: 10%;
					}
					&.coin-14 {
						bottom: 15%;
						right: 45%;
					}
					&.coin-15 {
						bottom: 30%;
						right: 50%;
					}
					&.coin-16 {
						bottom: 25%;
						right: 35%;
					}
					&.coin-17 {
						top: 5%;
						left: 15%;
					}
				}
			}
			&.area-3 {
				top: 0;
				left: 50%;
				@include transform ( translateX(-50%) );

				.flag {
				    top: 50%;
				    left: 50%;
				}
				.coin {
					&.coin-1 {
						top: -2%;
						left: 45%;
					}
					&.coin-2 {
						top: 30%;
						left: 31%;
					}
					&.coin-3 {
						top: 25%;
						left: 40%;
					}
					&.coin-4 {
						top: 35%;
						left: 52%;
					}
					&.coin-5 {
						top: 35%;
						left: 69%;
					}
					&.coin-6 {
						top: 30%;
						left: 45%;
					}
					&.coin-7 {
						top: 1%;
						left: 30%;
					}
					&.coin-8 {
						top: 26%;
						left: 51%;
					}
					&.coin-9 {
						top: 30%;
						left: 45%;
					}
					&.coin-10 {
						top: 10%;
						left: 10%;
					}
					&.coin-11 {
						top: 17%;
						left: 30%;
					}
					&.coin-12 {
						top: 0;
						left: 19%;
					}
					&.coin-13 {
						top: -2%;
						right: 20%;
					}
					&.coin-14 {
						top: 15%;
						right: 35%;
					}
					&.coin-15 {
						top: 25%;
						right: 15%;
					}
					&.coin-16 {
						top: 25%;
						right: 25%;
					}
					&.coin-17 {
						top: -2%;
						right: 10%;
					}
					&.coin-18 {
						top: 30%;
						right: 35%;
					}
				}
			}
			&.area-4 {
				top: 0;
				right: 0;

				.flag {
				    top: 50%;
				    left: 50%;
				}
				.coin {
					&.coin-1 {
						top: 11%;
						right: 25%;
					}
					&.coin-2 {
						top: 16%;
						right: 2%;
					}
					&.coin-3 {
						top: 41%;
						right: 5%;
					}
					&.coin-4 {
						top: 28%;
						right: 11%;
					}
					&.coin-5 {
						top: 42%;
						right: 22%;
					}
					&.coin-6 {
						top: 45%;
						right: 55%;
					}
					&.coin-7 {
						top: 31%;
						right: 30%;
					}
					&.coin-8 {
						top: 62%;
						right: 10%;
					}
					&.coin-9 {
						top: 2%;
						right: 50%;
					}
					&.coin-10 {
						top: 30%;
						right: 2%;
					}
					&.coin-11 {
						top: 20%;
						right: 35%;
					}
					&.coin-12 {
						top: 50%;
						right: 10%;
					}
					&.coin-13 {
						top: 55%;
						right: 19%;
					}
					&.coin-14 {
						top: 15%;
						right: 45%;
					}
					&.coin-15 {
						top: 30%;
						right: 20%;
					}
					&.coin-16 {
						top: 40%;
						right: 15%;
					}
					&.coin-17 {
						top: 15%;
						right: 15%;
					}
					&.coin-18 {
						top: 60%;
						right: 2%;
					}
				}
			}
			&.area-5 {
				top: 50%;
				right: 0;
				margin-top: 5%;
				@include transform ( translateY(-50%) );

				.flag {
				    top: 35%;
				    left: 45%;
				}
				.coin {
					&.coin-1 {
						top: 0;
						right: 35%;
					}
					&.coin-2 {
						top: 0;
						right: 20%;
					}
					&.coin-3 {
						top: 30%;
						right: 10%;
					}
					&.coin-4 {
						top: 20%;
						right: 10%;
					}
					&.coin-5 {
						top: 45%;
						right: 20%;
					}
					&.coin-6 {
						top: 20%;
						right: 30%;
					}
					&.coin-7 {
						top: 30%;
						right: 30%;
					}
					&.coin-8 {
						top: 35%;
						right: 20%;
					}
					&.coin-9 {
						top: 45%;
						right: 30%;
					}
					&.coin-10 {
						top: 10%;
						right: 10%;
					}
					&.coin-11 {
						top: 10%;
						right: 30%;
					}
					&.coin-12 {
						bottom: 10%;
						right: 25%;
					}
					&.coin-13 {
						bottom: 0;
						right: 40%;
					}
					&.coin-14 {
						bottom: 15%;
						right: 75%;
					}
					&.coin-15 {
						bottom: 25%;
						right: 45%;
					}
					&.coin-16 {
						bottom: 35%;
						right: 50%;
					}
					&.coin-17 {
						bottom: 30%;
						right: 70%;
					}
					&.coin-18 {
						bottom: 5%;
						right: 60%;
					}
				}
			}
			&.area-6 {
				right: 0;
				bottom: 0;

				.flag {
				    top: 20%;
				    left: 40%;
				}
				.coin {
					&.coin-1 {
						left: 25%;
						bottom: 6%;
					}
					&.coin-2 {
						left: 0;
						bottom: 5%;
					}
					&.coin-3 {
						bottom: 45%;
						left: 10%;
					}
					&.coin-4 {
						bottom: 15%;
						left: 10%;
					}
					&.coin-5 {
						bottom: 40%;
						left: 20%;
					}
					&.coin-6 {
						bottom: 70%;
						right: 30%;
					}
					&.coin-7 {
						bottom: 45%;
						right: 25%;
					}
					&.coin-8 {
						bottom: 70%;
						right: 15%;
					}
					&.coin-9 {
						bottom: 5%;
						left: 35%;
					}
					&.coin-10 {
						bottom: 10%;
						right: 10%;
					}
					&.coin-11 {
						bottom: 25%;
						right: 30%;
					}
					&.coin-12 {
						bottom: 5%;
						right: 19%;
					}
					&.coin-13 {
						bottom: 5%;
						right: 30%;
					}
					&.coin-14 {
						bottom: 15%;
						right: 45%;
					}
					&.coin-15 {
						bottom: 35%;
						right: 10%;
					}
					&.coin-16 {
						bottom: 25%;
						right: 65%;
					}
				}
			}

			.outer {
				z-index: 3;
				width: 100%;
				height: 100%;
				@include ab ( 0, 0, n, n );
			}
			.inner {
				width: 100%;
				height: 100%;
				position: relative;

				img {
					width: 100%;
					max-width: 100px;
					position: absolute;
				}
			}
			img {
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
			}
			.coin {
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				&.active {
					filter: none;
				}
			}
		}
	}

	/** Player Content **/
	.player {
		z-index: 5;
		margin-top: 45px;
		z-index: 1;
		position: relative;
		padding-bottom: 30px;
		@include screen ( ipad ) {
			right: -380px;
			bottom: -110px;
			margin-top: 0;
			position: absolute;
			height: 761px;
			padding-bottom: 0;
		}

		.outer {
			background: url('../images/treasure_hunt/background-player.png') no-repeat;
			background-size: 100% 100%;
			width: 100%;
			height: auto;
			padding-bottom: 35px;
			max-width: 801px;
		}
		.toogle {
			width: 246px;
			height: 56px;
			@include ab ( -25px, 50%, n, n );
			@include transform ( translateX(-50%) );
			background: url('../images/buttons/hide-info.png') no-repeat;
			&.show {
				background: url('../images/buttons/show-info.png') no-repeat;
				&:before {
					content: '';
					background: url('../images/icons/toggle-hide.png') no-repeat;
				}
			}
			@include screen ( ipad ) {
				display: none;
			}
			&:before {
				content: '';
				@include ab ( 17px, n, n, 15px );
				width: 28px;
				height: 21px;
				background: url('../images/icons/toggle.png') no-repeat;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;

			li {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.coin {
			margin-top: 10px;
			position: relative;

			ul {
				margin-bottom: 15px;
			}
			.title {
				color: #4e301c;
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;

				width: 100%;
				display: block;
				margin-bottom: 15px;
			}
			.pager {
				.next, .prev {
					padding-top: 0;
				}
			}
		}
		.list-coin {
			/* margin: 0 -10px; */
			overflow: hidden;

			li {
				width: 20%;
				float: left;
				padding: 0 10px;
				&.active {
					img {
						filter: none;
					}
				}

				img {
					cursor: pointer;
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					width: 100%;
				}
			}
		}
		.slick-arrow {
			border: none;
			cursor: pointer;
        	background: none;
			bottom: 12px;
			position: absolute;
			&.slick-prev {
				left: 10px;
				.icon {
		            background: url('../images/profile/left.png') no-repeat;
		            background-size: 100% 100%;
		            width: 8px;
		            height: 18px;
		        }
			}
			&.slick-next {
				right: 10px;
				.icon {
			        background: url('../images/profile/right.png') no-repeat;
			        background-size: 100% 100%;
			        width: 8px;
		            height: 18px;
			    }
			}
		}
		.slick-dots {
		    text-align: center;
		    margin-bottom: 30px;

		    li {
		        margin: 0;
		        vertical-align: top;
		        display: inline-block;
		        @include opacity(0.8);
		        &:hover,
		        &.slick-active {
		            @include opacity(1);
		        }
		    }
	        button {
	        	border: none;
	        	background: none;
	            background: url('../images/profile/num-bg.png') no-repeat;
	            background-size: 100% 100%;
	            padding: 0;
	            width: 48px;
	            height: 45px;
	            display: block;
	        	cursor: pointer;
	            line-height: 45px;

	            color: #fff;
	            font-size: 15px;
	            font-family: $font-iCPB;
	            text-align: center;
	        }
		}
	}
	.player__inner {
		position: relative;
		padding: 30px 3% 0 5%;
		@include screen ( ipad ) {
			max-width: 55%;
			padding: 20px 20px 0 60px;
		}

		.arrow {
			width: 75px;
			height: 73px;
			background: url('../images/icons/collapse.png') no-repeat;
			@include ab( 50%, -15px, n, n );
			@include transform ( translateY(-50%) );
			display: none;
			@include screen ( ipad ) {
				display: block;
			}
			&.expand {
				background: url('../images/icons/expand.png') no-repeat;
			}
		}
	}
	.player__info {
		overflow: hidden;

		.avatar {
			float: left;
            background: url(../images/global/avatar.png) center top no-repeat;
            background-size: 100%;
            width: 100%;
            max-width: 90px;
            min-height: 90px;
            position: relative;
            @media (max-width: 767px){
                margin:0 auto 15px;
            }
            img {
                top: 7px;
                left: 6px;
                max-width: 85%;
                position: absolute;
                @include border-radius(50%);
            }
        }
		.info {
			float: left;
			height: 90px;
			display: table;
			padding-left: 15px;

			.inner {
				height: 100%;
				display: table-cell;
				vertical-align: middle;

				.ranking {
					margin: 10px 0 0;
					overflow: hidden;

					img {
						float: left;
						max-height: 30px;
						margin-right: 10px;
					}
					.title {
						float: left;
						line-height: 30px;
						text-transform: uppercase;
					}
				}
				span {
					display: block;
					&.name {
						color: #4e301c;
						font-size: 15px;
						text-transform: uppercase;
					}
					&.title {
						color: #d87d20;
						font-size: 12px;
					}
				}
			}
		}
	}
	.score_wrapper {
		width: 100%;
		padding: 15px 0;
		margin-top: 10px;
		position: relative;
		&:before, &:after {
			content: '';
			height: 7px;
			width: 100%;
			max-width: 345px;
			background: url('../images/treasure_hunt/line.png') center center no-repeat;
			background-size: 100% 100%;
			@include ab ( 0, 50%, n, n );
			@include transform ( translateX(-50%) );
			@include screen ( ipad ) {
				left: auto;
				@include ab ( 0, n, n, 0 );
				transform: none;
			}
		}
		&:after {
			top: auto;
			bottom: 0;
		}

		span {
			display: block;
			color: #4e301c;
			text-align: center;
			text-transform: uppercase;
			&.title {
				font-size: 15px;
			}
			&.score {
				font-size: 30px;
				margin-top: 15px;
			}
		}
	}

	/** Welcome Content **/
	.welcome {
		z-index: 9;
		width: 100%;
		max-width: 817px;
		padding: 0 10px;
		@include ab ( 0, 50%, n, n );
		@include transform ( translateX(-50%) );
		@include screen ( ipad ) {
			padding: 0;
		}

		.outer {
			width: 100%;
			height: 100%;
			position: relative;
		}
		.inner {
			opacity: 0;
			width: 100%;
			height: 628px;
			position: relative;
			background: url('../images/treasure_hunt/background-welcome-1.png') center center no-repeat;
			background-size: 100% 100%;
			@include transform ( scale(0) );
			@include transition ( all .3s linear );
			&.animate {
				opacity: 1;
				@include transform ( scale(1) );
			}
		}
		.inner--last {
			height: 554px;
			background: url('../images/treasure_hunt/background-welcome-2.png') center center no-repeat;
			background-size: 100% 100%;

			.close {
				top: 35px;
			}
		}
		.heading {
			text-indent: -9999px;
		}
		.text__warpper {
			p {
				text-indent: -9999px;
			}
		}
		.form {
			padding-top: 0;

			.form_field {
				float: left;

				label {
					color: #bf9264;
				}
			}
			.navigation {
				margin: 0;
				float: right;
				list-style: none;
				padding: 5px 25px 0 0;

				li {
					padding: 0 15px;
					display: inline-block;
					vertical-align: middle;
					background: url('../images/treasure_hunt/arrow-next.png') 100% 0 no-repeat;
					opacity: 1;
					&:first-child {
						background: url('../images/treasure_hunt/arrow-prev.png') 0 0 no-repeat;
					}
					&.active {
						opacity: 0.5;
					}

					a {
						color: #bf9264;
						font-size: 13px;
						text-transform: uppercase;
					}
				}
			}
		}
		.close {
			z-index: 5;
	        width: 100%;
	        height: 50px;
	        max-width: 54px;
	        background: url('../images/icons/close.png') no-repeat;
	        @include ab ( 115px, n, n, -10px );

	        text-indent: -9999px;
	    }
	}
	.welcome--mobile {
		@include ab ( 0, 50%, n, n );
		@include transform ( translateX(-50%) );
		.inner {
			background: url('../images/modal/background-modal--small-mobile.png') center center no-repeat;
			background-size: 100% 100%;
			height: auto;
			min-height: 459px;

			text-align: center;
		}
		.inner--last {
			img {
				margin-top: 60px;
			}
		}
		.form {
			.form_field {
				float: none;
			}
		}
		.arrow {
			text-indent: -9999px;
			top: 50%;
			z-index: 3;
			position: absolute;
			@include transform ( translateY(-50%) );
			&.prev {
				left: 10%;
				opacity: 1;
				background: url('../images/treasure_hunt/arrow-prev.png') 0 0 no-repeat;
			}
			&.next {
				right: 10%;
				left: auto;
				background: url('../images/treasure_hunt/arrow-next.png') 100% 0 no-repeat;
			}
			&.active {
				opacity: 0.5;
			}
		}
		.close {
			right: 0;
			top: 35px;
		}
	}
}

/** Info Area **/
.info-area {
	width: 100%;
	background: url('../images/treasure_hunt/info-area.png') center center no-repeat;
	height: 374px;
	max-width: 293px;
	z-index: 2;
	text-align: center;

	.inner {
		width: 100%;
		height: 100%;
		padding: 80px 45px;
	}
	p, span {
		color: #4e301c;
	}
	.title {
		font-size: 16px;
		font-family: $font-iCPB;
		text-transform: uppercase;
	}
	.desc {
		font-size: 12px;
		font-family: $font-standard;
		line-height: 17px;

	}
	.requirement {
		font-size: 12px;
		font-weight: bold;
		font-family: $font-standard;
		line-height: normal;

		strong {
			font-size: 15px;
			font-family: $font-iCPB;
			text-transform: uppercase;

			display: block;
			margin-top: 10px;
		}
	}
}

/** Profile Characters **/
.profile-characters {
	width: 100%;
	background: url('../images/treasure_hunt/profile-characters.png') center center no-repeat;
	height: 390px;
	max-width: 293px;
	z-index: 2;
	text-align: center;

	.inner {
		width: 100%;
		height: 100%;
		padding: 80px 40px;
	}
	p, span {
		color: #4e301c;
	}
	img {
		margin: 0 auto;
		max-width: 85px;
	}
	.title {
		font-size: 16px;
		font-family: $font-iCPB;
		text-transform: uppercase;
		display: block;
		margin-top: 20px;
	}
	.desc {
		font-size: 12px;
		font-family: $font-standard;
		line-height: 17px;
		height: 80px;

	}
}

/** Tooltipster Custom Area **/
.tooltipster-custom-area {
	.tooltipster-box {
		border: none;
		border-radius: 0;
		margin-bottom: 0!important;
		background: transparent;
	}
	.tooltipster-content {
		padding: 0;
	}
	.tooltipster-arrow {
		display: none;
	}
}
