.page--user-action {
	background: url('../images/user_action/main-background.jpg') center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    min-height: auto;
    overflow: hidden;

    /** User Action Content **/
    .user-action {
        z-index: 1;
        margin-top: -10px;
        position: relative;
        margin-bottom: 136px;
        @include screen ( medium ) {
            margin-bottom: 47px;
            min-height: 100vh;
        }
        @include screen ( hd ) {
            margin-bottom: 0;
            min-height: calc(100vh - 153px);
        }
    }

    /** Register Content **/
    .register, .signin, .notification {
    	.heading {
    		width: 100%;
    		max-width: 240px;
    		height: 72px;
    		margin: 0 auto;
    		background: url('../images/modal/heading-modal-register.png') no-repeat;

    		text-indent: -9999px;
    	}
    	.inner {
            position: relative;
    		padding: 0 30px 0 20px;
            @include screen ( xs ) {
                padding: 0 40px 0 30px;
            }
            @include screen ( medium ) {
                padding: 0 55px;
            }

            .form {
                .form_field.form_field--tnc label {
                    margin-top: 8px;
                    line-height: 1.4em;
                }
            }
            .select-wrapper {
                text-align: center;
                position: relative;
                background-color: #321e1b;
                height: 35px;
                @include border-radius(5px);
                @include screen(medium){
                    height: 47px;
                }

                span {
                   color: #93755b;
                   top: 6px;
                    @include screen(medium){
                       top: 12px;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    border-style: solid;
                    border-width: 10px 5.5px 0 5.5px;
                    border-color: #4e301c transparent transparent transparent;
                    @include transform ( translateY(-50%) );
                }
                select {
                    width: 100%;
                }
            }
            input {
                color: #93755b;
            }
            ::-webkit-input-placeholder {
               color: #93755b;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: #93755b;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: #93755b;
            }

            :-ms-input-placeholder {
               color: #93755b;
            }
    		.button__wrapper {
                margin-top: 15px;
                @include screen ( medium ) {
                    /*margin-top: 0;*/
                }

    			.button {
                    font-size: 15px;

                    line-height: 50px;
                    text-align: center;
                    text-transform: uppercase;

                    background: url('../images/buttons/button-yellow.png') no-repeat;
                    width: 202px;
                    height: 46px;
                    &:hover {
                        background: url('../images/buttons/button-grey.png') no-repeat;
                    }
                    @include screen ( medium ) {
                        font-size: 18px;

                        line-height: 77px;
                        text-align: center;
                        text-transform: uppercase;

                        background: url('../images/buttons/button-yellow--register.png') no-repeat;
                        width: 302px;
                        height: 77px;
                        &:hover { 
                            background: url('../images/buttons/button-grey--register.png') no-repeat;
                        }
                    }
    			}
    		}
    	}
    }

    /** Signin Content **/
    .signin {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 253px;
            background: url('../images/modal/heading-modal-signin.png') no-repeat;

            text-indent: -9999px;
        }
        .inner {
            .form {
                .forgot-pass {
                    @media (max-width: 767px){
                        padding-left:40px;
                    }
                }
                .form_field {
                    &.form_field--tnc {
                        label {
                            line-height: 20px;
                        }
                        a {
                            display: block;
                            color: #a45d2e;
                            line-height: 33px;
                            text-decoration: underline;
                            text-transform: uppercase;
                            @include screen ( medium ) {
                                text-align: right;
                            }
                        }
                    }
                }
            }
            .button__wrapper {
                .button {
                    background: url('../images/buttons/button-yellow--scan.png') no-repeat;
                    width: 175px;
                    height: 58px;

                    font-size: 16px;
                    line-height: 56px;
                    &:hover {
                        background: url('../images/buttons/button-grey--scan.png') no-repeat;
                    }
                }
            }
        }
        .content {
            @include screen ( medium ) {
                margin: 15px -30px 0;
            }

            .account {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
                @include screen ( medium ) {
                    width: 50%;
                    float: left;
                    padding: 0 30px;
                    margin-top: 0;
                }

                .title {
                    color: #4e301c;
                    font-size: 15px;
                    font-family: $font-iCPB;
                    text-transform: uppercase;
                }
                .desc {
                    color: #4e301c;
                    font-size: 12px;
                    font-family: $font-standard;
                    line-height: 1.4em;

                    margin-bottom: 0;

                    a {
                        color: #4e301c;
                        font-weight: bold;
                        font-family: $font-iCPB;
                        text-transform: uppercase;
                        border-bottom: 1px solid #4e301c;
                    }
                }
            }
            /* .account--toonies {} */
            .account--social {
                .facebook-login {
                    width: 100%;
                    max-width: 278px;
                    margin: 0 auto;
                    height: 45px;
                    background: url('../images/buttons/button-facebook.png') center center no-repeat;

                    display: block;
                    margin-top: 10px;
                    line-height: 45px;
                    text-indent: -9999px;
                }
            }
        }
    }

    /** Notification Content **/
    .notification, .forgot-password, .scan-result {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 185px;
            background: url('../images/modal/heading-modal-notification.png') no-repeat;

            text-indent: -9999px;
        }
        .inner {
            position: relative;
            padding: 0 30px 0 20px;
            @include screen ( small ) {
                padding: 0 35px 0 25px;
            }

            .button__wrapper {
                margin-top: 10px;

                .button {
                    font-size: 13px;
                    line-height: 54px;
                    width: 100%;
                    max-width: 275px;
                    height: 54px;
                    background: url('../images/buttons/button-yellow--notification.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background: url('../images/buttons/button-grey--notification.png') center center no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
        .content {
            padding: 30px 15px 0;
            text-align: center;
            @include screen ( medium ) {
                padding: 55px 55px 30px;
            }

            .title {
                color: #4e301c;
                font-size: 18px;
                font-family: $font-iCPB;
                text-transform: uppercase;
                @include screen ( small ) {
                    font-size: 20px;
                }

                br {
                    display: none;
                    @include screen ( medium ) {
                        display: block;
                    }
                }
            }
            .desc {
                margin: 30px 0 0;

                color: #4e301c;
                font-size: 14px;
                line-height: 22px;
                font-family: $font-iCPB;
                text-transform: uppercase;

                span {
                    color: #9f5232;
                }
                br {
                    display: none;
                    @include screen ( medium ) {
                        display: block;
                    }
                }
            }
        }
    }
    .notification--code {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 229px;
            background: url('../images/modal/heading-modal-notification-code.png') no-repeat;

            text-indent: -9999px;
        }
    }
    .notification--area {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 256px;
            background: url('../images/modal/heading-modal-notification-area.png') no-repeat;

            text-indent: -9999px;
        }
    }

    /** Forgot Password Content **/
    .forgot-password {
        .inner {
            padding: 0 35px 0 25px;
            @include screen ( xs ) {
                padding: 0 15% 0px 10%;
            }
            @include screen ( medium ) {
                padding: 0 70px;
            }
        }
        .content {
            padding: 30px 0 0;
            @include screen ( medium ) {
                padding: 40px 0 15px;
            }
        }
        .form {
            @include screen ( medium ) {
                padding-bottom: 15px;
            }
            ::-webkit-input-placeholder {
               color: #93755b;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: #93755b;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: #93755b;
            }

            :-ms-input-placeholder {
               color: #93755b;
            }
        }
        .capcha {
            margin-top: 20px;
            text-align: center;

            .g-recaptcha {
                @include transform ( scale(0.85) );
                transform-origin: 0 0;
                @include screen ( xs ) {
                    transform: none;
                }
            }
            .g-recaptcha > div:first-child {
                margin: 0 auto;
            }
        }
    }

    /** Scan Result Content **/
    .scan-result {
        .content {
            padding: 20px 0 0;
            position: relative;
            &:before {
                content: '';
                background: url('../images/scan/light.png') no-repeat;
                width: 345px;
                height: 357px;
                z-index: 1;
                @include ab ( 50%, 50%, n, n );
                @include transform ( translate(-50%,-50%) );
            }

            .title {
                line-height: 32px;
                background: url('../images/scan/background-title-scan-result.png') 50% 100% no-repeat;

                z-index: 2;
                position: relative;
                padding-bottom: 25px;
            }
            .wrap-img {
                z-index: 2;
                margin-top: 25px;
                position: relative;
                &:before {
                    content: '';
                    background: url('../images/scan/star.png') no-repeat;
                    width: 66px;
                    height: 66px;
                    z-index: 1;
                    margin-left: 35px;
                    @include ab ( 0, 50%, n, n );
                    @include transform ( translateX(-50%) );
                }
            }
            .info {
                z-index: 2;
                position: relative;

                margin: 10px 0 0;

                p {
                    color: #4e301c;
                    font-size: 14px;
                    text-transform: uppercase;

                    margin: 0;

                    span {
                        color: #9f521e;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    /** Hot Line **/
    .hot-line {
    	margin: 15px 0 0;
    	text-align: center;
        @include screen ( medium ) {
            margin: 0;
        }

        z-index: 2;
        position: relative;

        span {
            /*color: #ffc35d;*/
            color: #d0ab7c ;
	    	font-size: 13px;
	    	font-family: $font-iCPB;
	    	text-transform: uppercase;
	    	line-height: 20px;

    		padding-left: 25px;
    		display: inline-block;
    		vertical-align: middle;
            @include screen ( medium ) {
                margin-top: 4px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 16px;
                height: 15px;
                margin-left: -22px;
        		background: url('../images/icons/star.png') no-repeat;
            }
        }

    	img {
    		margin-left: 5px;
    		display: inline-block;
    		vertical-align: middle;
    	}
    }

    /** Group Coins **/
	.group-coins {
		position: absolute;
		&.group-coins-1 {
			bottom: 20%;
			left: 30%;
		}
		&.group-coins-2 {
			bottom: 30%;
			left: -1%;
		}
		&.group-coins-3 {
			top: -5%;
			left: 1%;
		}
		&.group-coins-4 {
			top: 30%;
			left: 30%;
		}
		&.group-coins-5 {
			top: 0;
			left: 50%;
            @include transform ( translateX(-50%) );
		}
		&.group-coins-6 {
			top: -5%;
			right: 10%;
		}
		&.group-coins-7 {
            right: 0;
			bottom: 25%;
		}
	}

    /** Group Join Successful **/
    .group_join-successful {
        @extend .scan-result;

        .wrap-img {
            background: url(../images/global/avatar.png) center top no-repeat;
            background-size: 100%;

            margin: 0 auto;
            max-width: 170px;
            min-height: 170px;
            position: relative;

            img {
                top: 12px;
                left: 13px;
                max-width: 84%;
                position: absolute;
                @include border-radius(50%);
            }
        }
    }

    /** Group Level Up **/
    .group_level-up {
        @extend .scan-result;
    }

    /** Group Create Successful **/
    .group_create-successful {
        @extend .notification;

        .content {
            padding: 25px 15px 0;
            text-align: center;
            @include screen ( medium ) {
                padding: 50px 30px 25px;
            }
        }
    }

    /** Group Remove Member**/
    .group_remove-member {
        @extend .group_create-successful;
    }

    /** Group Delete **/
    .group_delete {
        @extend .group_create-successful;
    }
}
