.page--user-action {
	background: url('../images/user_action/main-bg--mobile.jpg') center center no-repeat;
    background-size: 100% 100%;
    @include screen ( ipadPortrait ) {
        background: url('../images/user_action/main-background.jpg') center center no-repeat;
        background-size: 100% 100%;
    }

    /** User Action Content **/
    .user-action {
        padding-bottom: 80px;
    }

    /** Register Content **/
    .register, .signin, .notification {
    	.heading {
    		width: 100%;
    		max-width: 240px;
    		height: 72px;
    		margin: 0 auto;
    		background: url('../images/modal/heading-modal-register.png') no-repeat;

    		text-indent: -9999px;
    	}
    	.inner {
    		padding: 0 55px;
    		position: relative;

    		.form {
    			padding-top: 15px;

    			.form_field {
    				margin: 15px 0 0;
    				&:first-child {
    					margin-top: 0;
    				}
    				&.two-col {
    					margin: 15px -15px 0;
    					&:first-child {
	    					margin-top: 0;
	    				}
    				}
    				&.form_field--tnc {
    					label {
    						float: left;
    						display: block;
    						cursor: pointer;
    						margin-top: 3px;
    						line-height: 30px;
    						font-size: 12px;
    						font-family: $font-iCPB;

    						a {
    							color: #a45d2e;
    							text-decoration: underline;
    						}
    					}
    				}

    				.col {
    					width: 50%;
    					float: left;
    					padding: 0 15px;

    					.two-col {
    						margin-top: 0;
    					}
    				}
    				label {
    					color: #4f2d23;
    					font-size: 15px;
    					font-family: $font-iCPL;
    					text-transform: uppercase;
    					&.star {
    						position: relative;
    						padding-left: 20px;
    						&:before {
    							content: '';
    							background: url('../images/icons/star--label.png') no-repeat;
    							width: 16px;
    							height: 15px;
    							@include ab ( -3px, 0, n, n );
    						}
    					}

    					strong {
    						font-family: $font-iCPB;

    						margin-right: 5px;
    					}
    				}
    				.input-text, .input-file {
    					margin-top: 5px;
    				}
    			}
    		}
    		.button__wrapper {
                margin-top: 0;

    			.button {
    				font-size: 18px;

				    line-height: 77px;
				    text-align: center;
				    text-transform: uppercase;

				    background: url('../images/buttons/button-yellow--register.png') no-repeat;
				    width: 302px;
				    height: 77px;
				    /* &:hover {
				    	background: url('../images/buttons/button-grey.png') no-repeat;
				    } */
    			}
    		}
    	}
    }

    /** Signin Content **/
    .signin {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 253px;
            background: url('../images/modal/heading-modal-signin.png') no-repeat;

            text-indent: -9999px;
        }
        .inner {
            .form {
                .form_field {
                    &.form_field--tnc {
                        a {
                            display: block;
                            color: #a45d2e;
                            line-height: 33px;
                            text-align: right;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .button__wrapper {
                .button {
                    background: url('../images/buttons/button-yellow--signin.png') no-repeat;
                    width: 164px;
                    height: 54px;

                    font-size: 16px;
                    line-height: 54px;
                }
            }
        }
        .content {
            margin: 15px -30px 0;

            .account {
                width: 50%;
                float: left;
                padding: 0 30px;

                .title {
                    color: #4e301c;
                    font-size: 15px;
                    font-family: $font-iCPB;
                    text-transform: uppercase;
                }
                .desc {
                    color: #4e301c;
                    font-size: 12px;
                    font-family: $font-standard;

                    margin-bottom: 0;

                    a {
                        color: #4e301c;
                        font-weight: bold;
                        font-family: $font-iCPB;
                        text-transform: uppercase;
                        border-bottom: 1px solid #4e301c;
                    }
                }
            }
            /* .account--toonies {} */
            .account--social {
                .facebook-login {
                    width: 278px;
                    height: 45px;
                    background: url('../images/buttons/button-facebook.png') no-repeat;

                    display: block;
                    margin-top: 10px;
                    line-height: 45px;
                    text-indent: -9999px;
                }
            }
        }
    }

    /** Notification Content **/
    .notification, .forgot-password, .scan-result {
        .heading {
            width: 100%;
            height: 72px;
            margin: 0 auto;
            max-width: 185px;
            background: url('../images/modal/heading-modal-notification.png') no-repeat;

            text-indent: -9999px;
        }
        .inner {
            position: relative;
            padding: 0 35px 0 25px;

            .button__wrapper {
                margin-top: 10px;

                .button {
                    font-size: 13px;
                    line-height: 54px;
                    width: 275px;
                    height: 54px;
                    background: url('../images/buttons/button-yellow--notification.png') no-repeat;
                    &:hover {
                        background: url('../images/buttons/button-grey--notification.png') no-repeat;
                    }
                }
            }
        }
        .content {
            padding: 55px 0;
            text-align: center;

            .title {
                color: #4e301c;
                font-size: 20px;
                font-family: $font-iCPB;
                text-transform: uppercase;
            }
            .desc {
                margin: 30px 0 0;

                color: #4e301c;
                font-size: 12px;
                line-height: 22px;
                font-family: $font-iCPB;
                text-transform: uppercase;
            }
        }
    }

    /** Forgot Password Content **/
    .forgot-password {
        .inner {
            padding: 0 70px;
        }
        .content {
            padding: 40px 0 15px;
        }
        .form {
            padding-bottom: 15px;
        }
    }

    /** Scan Result Content **/
    .scan-result {
        .content {
            padding: 20px 0 0;
            position: relative;
            &:before {
                content: '';
                background: url('../images/scan/light.png') no-repeat;
                width: 345px;
                height: 357px;
                z-index: 1;
                @include ab ( 50%, 50%, n, n );
                @include transform ( translate(-50%,-50%) );
            }

            .title {
                line-height: 32px;
                background: url('../images/scan/background-title-scan-result.png') 50% 100% no-repeat;

                z-index: 2;
                position: relative;
                padding-bottom: 25px;
            }
            .wrap-img {
                z-index: 2;
                margin-top: 25px;
                position: relative;
                &:before {
                    content: '';
                    background: url('../images/scan/star.png') no-repeat;
                    width: 66px;
                    height: 66px;
                    z-index: 1;
                    margin-left: 35px;
                    @include ab ( 0, 50%, n, n );
                    @include transform ( translateX(-50%) );
                }
            }
            .info {
                z-index: 2;
                position: relative;

                margin: 10px 0 0;

                p {
                    color: #4e301c;
                    font-size: 14px;
                    text-transform: uppercase;

                    margin: 0;

                    span {
                        color: #9f521e;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    /** Hot Line **/
    .hot-line {
    	margin: 0;
    	text-align: center;

        z-index: 2;
        position: relative;

    	span {
	    	color: #ffc35d;
	    	font-size: 13px;
	    	font-family: $font-iCPB;
	    	text-transform: uppercase;
	    	line-height: 20px;

    		margin-top: 4px;
    		padding-left: 25px;
    		display: inline-block;
    		vertical-align: middle;
    		background: url('../images/icons/star.png') 3px 0 no-repeat;
    	}
    	img {
    		margin-left: 5px;
    		display: inline-block;
    		vertical-align: middle;
    	}
    }

    /** Group Coins **/
	.group-coins {
        z-index: 1;
		position: absolute;
		&.group-coins-1 {
			bottom: 20%;
			left: 30%;
		}
		&.group-coins-2 {
			bottom: 30%;
			left: -1%;
		}
		&.group-coins-3 {
			top: -5%;
			left: 1%;
		}
		&.group-coins-4 {
			top: 30%;
			left: 30%;
		}
		&.group-coins-5 {
			top: 0;
			left: 50%;
            @include transform ( translateX(-50%) );
		}
		&.group-coins-6 {
			top: -5%;
			right: 10%;
		}
		&.group-coins-7 {
            right: 0;
			bottom: 25%;
		}
	}
}
