@font-face {
    font-family: 'iCielPanton-Light';
    src: url('../fonts/iCielPanton-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/iCielPanton-Light.otf') format('opentype'), url('../fonts/iCielPanton-Light.woff') format('woff'), url('../fonts/iCielPanton-Light.ttf') format('truetype'), url('../fonts/iCielPanton-Light.svg#iCielPanton-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCielPanton-Black';
    src: url('../fonts/iCielPanton-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/iCielPanton-Black.otf') format('opentype'), url('../fonts/iCielPanton-Black.woff') format('woff'), url('../fonts/iCielPanton-Black.ttf') format('truetype'), url('../fonts/iCielPanton-Black.svg#iCielPanton-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
