<div class="loading">
	<div class='uil-ripple-css' style='transform:scale(0.64);'><div></div><div></div></div>
</div>

<footer>
	<div class="inner">
	    <img src="images/footer/toei.png" alt="TOEI Animation">
	    <p class="copyright copyright--orion">&copy; 2016 Bản quyền của Công ty TNHH orion (Việt Nam)</p>
	    <p class="copyright copyright--toei show-for-small">&copy; Eiichiro Oda/Shueisha, Toei Animation</p>
	    <!-- <img src="images/footer/onepiece.png" alt="One Piece"> -->
	    <p class="copyright copyright--toei">&copy; Eiichiro Oda/Shueisha, Toei Animation</p>
	</div>
</footer>
