<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/datepicker.js"></script>
<script src="/bower_components/parallax/deploy/jquery.parallax.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="/bower_components/tooltipster/dist/js/tooltipster.bundle.js"></script>
<script src="/bower_components/pep/src/jquery.pep.js"></script>
<script src="scripts/llqrcode.js"></script>
<script src="scripts/webcam.js"></script>
<script src="scripts/memory.js"></script>
<script src="scripts/adapter.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>

<!-- build:js scripts/toonies.global.js -->
<script src="scripts/toonies.global.js"></script>
<!-- endbuild -->
</body>

</html>
