<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/cropper/dist/cropper.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/toonies.global.js -->
<script src="scripts/toonies.global.js"></script>
<!-- endbuild -->
</body>

</html>
