<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/cropper/dist/cropper.js"></script>
<script src="/bower_components/jquery-ui/ui/core.js"></script>
<script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/datepicker.js"></script>
<script src="/bower_components/webcamjs/webcam.js"></script>
<script src="/bower_components/parallax/deploy/jquery.parallax.js"></script>
<script src="/bower_components/ev-emitter/ev-emitter.js"></script>
<script src="/bower_components/imagesloaded/imagesloaded.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>

<!-- build:js scripts/toonies.global.js -->
<script src="scripts/toonies.global.js"></script>
<!-- endbuild -->
</body>

</html>
