<header>
	<div class="outer">
		<ul class="main-menu hide-for-small">
			<li><a href="" class="menu-1 active" title="Vui cùng Toonies">Vui cùng Toonies</a></li>
			<li><a href="" class="menu-2" title="Về cuộc đua">Về cuộc đua</a></li>
			<li><a href="" class="menu-3" title="Quét thẻ Toonies">Quét thẻ Toonies</a></li>
			<li><a href="" class="menu-4" title="Đại hải trình">Đại hải trình</a></li>
			<li><a href="" class="menu-5" title="Top săn thưởng">Top săn thưởng</a></li>
		</ul>
	    <div class="inner">
	        <a href="/" class="logo logo--toonies">
	        	<h1>Bánh Snack Orion - Toonies</h1>
	        </a>
	        <ul class="action-menu hide-for-small">
	        	<li>
	        		<a href="tel:0909.800.605" class="hot-line" title="Hotline: 0909.800.605">Hotline: 0909.800.605</a>
	        	</li>
	        	<li class="user-info">
				    <a href="javascript:void(0)" title="Tài khoản cá nhân" class="account">
				        <img src="images/header/account.png" alt="">
				        <div class="wrap-img">
				            <img src="images/global/img-ava.jpg" alt="">
				        </div>
				    </a>
				    <ul class="menu-user">
				        <li>
				            <a href="" title="Tiền săn thưởng">Tiền săn thưởng</a>
				            <span>0 tc</span>
				        </li>
				        <li>
				            <a href="" title="Thẻ đã thu thập">Thẻ đã thu thập (104)</a>
				        </li>
				        <li>
				            <a href="" title="Trang cá nhân">Trang cá nhân</a>
				        </li>
				        <li class="logout">
				            <a href="" title="Đăng xuất">Đăng xuất</a>
				        </li>
				    </ul>
				</li>
	        	<!-- <li>
				    <a href="" title="Đăng nhập" class="login">Đăng nhập</a>
				</li>
				<li>
				    <a href="" title="Đăng ký" class="register">Đăng ký</a>
				</li> -->
	        </ul>
	        <a href="" class="logo logo--orion">
	        	<h2>Bánh Snack Orion - Toonies</h2>
	        </a>
	        <a href="javascript:void(0)" title="Tài khoản cá nhân" class="account account--mobile show-for-small">
    			<div class="wrap-img">
    				<img src="images/global/img-ava.jpg" alt="">
    			</div>
    		</a>
	        <a href="" class="bugger-menu show-for-small"></a>
	    </div>
        <ul class="menu-mobile">
        	<li>
        		<a href="" class="" title="Vui cùng Toonies">Vui cùng Toonies</a>
        	</li>
        	<li>
        		<a href="" class="" title="Về cuộc thi">Về cuộc thi</a>
        	</li>
        	<li>
        		<a href="" class="" title="Quét thẻ Toonies">Quét thẻ Toonies</a>
        	</li>
        	<li>
        		<a href="" class="" title="Đại hải trình">Đại hải trình</a>
        	</li>
        	<li>
        		<a href="" class="" title="Top săn thưởng">Top săn thưởng</a>
        	</li>
        	<li>
        		<a href="" class="hotline" title="Hotline: 0909.800.605">Hotline: 0909.800.605</a>
        	</li>
        	<li>
        		<a href="" class="login" title="Đăng nhập tài khoản">Đăng nhập tài khoản</a>
        	</li>
        	<li>
        		<a href="" class="register" title="Đăng ký tài khoản">Đăng ký tài khoản</a>
        	</li>
        </ul>
        <ul class="menu-mobile menu-mobile--user-info">
        	<li>
        		<a href="" title="Tiền săn thưởng">Tiền săn thưởng</a>
        		<span>12,000,000 tc</span>
        	</li>
	        <li>
	            <a href="" title="Cập nhật hoạt động">Cập nhật hoạt động</a>
	        </li>
        	<li>
        		<a href="" title="Thẻ đã thu thập">Thẻ đã thu thập (104)</a>
        	</li>
        	<li>
        		<a href="" title="Trang cá nhân">Trang cá nhân</a>
        	</li>
        	<li>
        		<a href="" class="logout" title="Đăng xuất">Đăng xuất</a>
        	</li>
        </ul>
	</div>
</header>
