<header>
	<div class="outer">
		<ul class="main-menu">
			<li><a href="" class="menu-1" title="Vui cùng Toonies">Vui cùng Toonies</a></li>
			<li><a href="" class="menu-2" title="Về cuộc đua">Về cuộc đua</a></li>
			<li><a href="" class="menu-3" title="Quét thẻ Toonies">Quét thẻ Toonies</a></li>
			<li><a href="" class="menu-4" title="Đại hải trình">Đại hải trình</a></li>
			<li><a href="" class="menu-5" title="Top săn thưởng">Top săn thưởng</a></li>
		</ul>
	    <div class="inner">
	        <a href="" class="logo logo--toonies">
	        	<h1>Bánh Snack Orion - Toonies</h1>
	        </a>
	        <ul class="action-menu hide-for-small">
	        	<li>
	        		<a href="tel:083992 996" class="hot-line" title="Hotline: (08) 3992 996">Hotline: (08) 3992 996</a>
	        	</li>
	        	<li>
	        		<a href="" title="Đăng nhập" class="login">Đăng nhập</a>
	        	</li>
	        	<li>
	        		<a href="" title="Đăng ký" class="register">Đăng ký</a>
	        	</li>
	        </ul>
	        <a href="" class="logo logo--orion">
	        	<h2>Bánh Snack Orion - Toonies</h2>
	        </a>
	        <a href="" class="bugger-menu show-for-small"></a>
	    </div>
	</div>
</header>
