<header>
	<div class="outer">
	    <div class="inner">
	        <a href="/" class="logo logo--toonies">
	        	<h1>Bánh Snack Orion - Toonies</h1>
	        </a>
	        <ul class="action-menu hide-for-small">
	        	<li>
	        		<a href="tel:0909800605" class="hot-line" title="Hotline: 0909.800.605">Hotline: 0909.800.605</a>
	        	</li>
	        </ul>
	        <a href="" class="logo logo--orion">
	        	<h2>Bánh Snack Orion - Toonies</h2>
	        </a>
	        <a href="" class="bugger-menu show-for-small"></a>
	    </div>
        <ul class="menu-mobile">
        	<li>
        		<a href="tel:0909800605" class="hotline" title="Hotline: 0909.800.605">Hotline: 0909.800.605</a>
        	</li>
        </ul>
	</div>
</header>
