<!-- /* All Images Icons:: Hover */ -->
<img src="images/icons/tnc-check.png" alt="" style="display: none;">

<!-- /* All Images Header - Footer:: Hover */ -->
<img src="images/header/menu-1--hover.png" alt="" style="display: none;">
<img src="images/header/menu-2--hover.png" alt="" style="display: none;">
<img src="images/header/menu-3--hover.png" alt="" style="display: none;">
<img src="images/header/menu-4--hover.png" alt="" style="display: none;">
<img src="images/header/menu-5--hover.png" alt="" style="display: none;">
<img src="images/header/hot-line--hover.png" alt="" style="display: none;">
<img src="images/header/login--hover.png" alt="" style="display: none;">
<img src="images/header/register--hover.png" alt="" style="display: none;">

<!-- /* All Images Button:: Hover */ -->
<img src="images/buttons/button-bugger--hover.png" alt="" style="display: none;">
<img src="images/buttons/button-grey.png" alt="" style="display: none;">
<img src="images/buttons/button-grey--notification.png" alt="" style="display: none;">
<img src="images/buttons/button-grey--scan.png" alt="" style="display: none;">
<img src="images/about/tab-1-on.png" alt="" style="display: none;">
<img src="images/about/tab-2-on.png" alt="" style="display: none;">
<img src="images/about/tab-3-on.png" alt="" style="display: none;">

<!-- /* All Images Modal */ -->
<img src="images/modal/background-modal--big.png" alt="" style="display: none;">
<img src="images/modal/background-modal--small.png" alt="" style="display: none;">
<img src="images/modal/background-step.png" alt="" style="display: none;">

<!-- /* All Images Step: Code */ -->
<img src="images/modal/step-code-1.png" alt="" style="display: none;">
<img src="images/modal/step-code-2.png" alt="" style="display: none;">
<img src="images/modal/step-code-3.png" alt="" style="display: none;">
<img src="images/modal/step-code-4.png" alt="" style="display: none;">

<!-- /* All Images Step: Scan */ -->
<img src="images/modal/step-scan-1.png" alt="" style="display: none;">
<img src="images/modal/step-scan-2.png" alt="" style="display: none;">
<img src="images/modal/step-scan-3.png" alt="" style="display: none;">
<img src="images/modal/step-scan-4.png" alt="" style="display: none;">

<!-- /* All Offline Games */ -->
<img src="images/offline_games/lv-1-hover.png" alt="" style="display: none;">
<img src="images/offline_games/lv-2-hover.png" alt="" style="display: none;">
<img src="images/offline_games/lv-3-hover.png" alt="" style="display: none;">