<!-- /* Box Modal */ -->

<!-- /* Box Modal: Introduction Step Scan */ -->
<div id="modal--intro-scan" class="mfp-hide mfp-with-anim modal--big modal--intro modal--intro-scan">
	<div class="outer">
		<div class="inner">
			<h3 class="heading">Các bước scan QR code</h3>
			<a href="" title="Đóng" class="close">Đóng</a>
			<div class="step-content hide-for-small">
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-1.png" alt="" />
							</div>
						</div>
						<p class="desc">Sưu tập thẻ hải tặc Toonies và kiểm tra QR code ở mặt sau. Đăng nhập website: <a href="www.toonies.com.vn" title="www.toonies.com.vn">www.toonies.com.vn</a> để quét thẻ.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-2.png" alt="" />
							</div>
						</div>
						<p class="desc">Nhấn allow khi hệ thống sẽ yêu cầu quyền truy cập webcam. Hãy đảm bảo máy bạn đã chuẩn bị sẵn webcam nhé.</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-3.png" alt="" />
							</div>
						</div>
						<p class="desc">Đưa mặt sau thẻ bài vào khu vực camera trên máy tính hoặc điện thoại di động. Chờ 5s để hệ thống xác nhận.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-4.png" alt="" />
							</div>
						</div>
						<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
					</div>
				</div>
			</div>
			<div class="step-content show-for-small" id="slider-step-scan">
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-scan-1.png" alt="" />
						</div>
					</div>
					<p class="desc">Sưu tập thẻ hải tặc Toonies và kiểm tra QR code ở mặt sau. Đăng nhập website: <a href="www.toonies.com.vn" title="www.toonies.com.vn">www.toonies.com.vn</a> để quét thẻ.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-scan-2.png" alt="" />
						</div>
					</div>
					<p class="desc">Nhấn allow khi hệ thống sẽ yêu cầu quyền truy cập webcam. Hãy đảm bảo máy bạn đã chuẩn bị sẵn webcam nhé.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-scan-3.png" alt="" />
						</div>
					</div>
					<p class="desc">Đưa mặt sau thẻ bài vào khu vực camera trên máy tính hoặc điện thoại di động. Chờ 5s để hệ thống xác nhận.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-scan-4.png" alt="" />
						</div>
					</div>
					<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
				</div>
			</div>
			<div class="button__wrapper">
				<a href="" title="Tôi đã hiểu rõ rồi!" class="button">Tôi đã hiểu rõ rồi!</a>
			</div>
			<div class="form">
				<div class="form_field clearfix form_field--tnc">
                    <div class="radio-wrapper">
                        <input type="radio" class="input-radio" id="input-radio-register">
                    </div>
                    <label for="input-radio-register">Không nhắc lại lần sau</label>
                </div>
			</div>
		</div>
	</div>
</div>

<!-- /* Box Modal: Scan Waiting */ -->
<div id="modal--scan-waiting" class="mfp-hide mfp-with-anim modal--small modal--scan-waiting">
    <div class="outer">
        <div class="inner">
            <h3 class="heading">Chờ tí nhé</h3>
            <img src="images/icons/loading.png" alt="">
            <div class="content">
                <h4 class="title">Vui lòng đợi kiểm tra</h4>
                <p class="desc">Hệ thống đang kiểm tra mã thẻ săn thưởng.
                    <br>Bạn vui lòng đợi trong 10 giây nhé!</p>
            </div>
        </div>
    </div>
</div>

<!-- /* Box Modal: Scan Result */ -->
<div id="modal--scan-result" class="mfp-hide mfp-with-anim modal--small modal--scan-result">
    <div class="outer">
        <div class="inner">
            <h3 class="heading">Thông báo</h3>
            <div class="content">
                <h4 class="title">Hình như có sự cố!?</h4>
                <p class="desc"><span>Bạn đã quét thẻ sai 1 lần</span>. để tiện cho quá trình cập nhật, bạn có muốn chuyển sang phần nhập mã xác nhận.</p>
            </div>
            <div class="button__wrapper">
                <a href="" title="Chuyển sang nhập mã code" class="button">Chuyển sang nhập mã code</a>
            </div>
            <div class="button__wrapper">
                <a href="" title="Quét lại lần nữa" class="button re-scan">Quét lại lần nữa</a>
            </div>
            <a href="" title="Đóng" class="close">Đóng</a>
        </div>
    </div>
</div>

<!-- /* Box Modal: Common */ -->
<div id="modal--common" class="mfp-hide mfp-with-anim modal--small modal--common">
    <div class="outer">
        <div class="inner">
            <h3 class="heading">Thông báo</h3>
            <div class="content">
                <p class="desc"></p>
            </div>
            <a href="" title="Đóng" class="close">Đóng</a>
        </div>
    </div>
</div>

<!-- /* Box Modal: Introduction Step Code */ -->
<div id="modal--intro-code" class="mfp-hide mfp-with-anim modal--big modal--intro modal--intro-code">
	<div class="outer">
		<div class="inner">
			<h3 class="heading">Các bước scan QR code</h3>
			<a href="" title="Đóng" class="close">Đóng</a>
			<div class="step-content hide-for-small">
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-1.png" alt="" />
							</div>
						</div>
						<p class="desc">Sưu tập thẻ và kiểm tra mã thẻ ở mặt trước. Mã thẻ nằm ở tay phải, bao gồm 3 số như trong hình.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-2.png" alt="" />
							</div>
						</div>
						<p class="desc">Kiểm tra tiền thưởng ở cụm phía dưới thẻ. Mỗi nhân vật sẽ có một mức giá nhất định khi săn thưởng.</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-3.png" alt="" />
							</div>
						</div>
						<p class="desc">Nhập mã thẻ và tiền thưởng trên thẻ vào ô chỉ định. Nhấn “Nhận điển thưởng” để xác nhận.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-4.png" alt="" />
							</div>
						</div>
						<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
					</div>
				</div>
			</div>
			<div class="step-content show-for-small" id="slider-step-code">
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-code-1.png" alt="" />
						</div>
					</div>
					<p class="desc">Sưu tập thẻ và kiểm tra mã thẻ ở mặt trước. Mã thẻ nằm ở tay phải, bao gồm 3 số như trong hình.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-code-2.png" alt="" />
						</div>
					</div>
					<p class="desc">Kiểm tra tiền thưởng ở cụm phía dưới thẻ. Mỗi nhân vật sẽ có một mức giá nhất định khi săn thưởng.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-code-3.png" alt="" />
						</div>
					</div>
					<p class="desc">Nhập mã thẻ và tiền thưởng trên thẻ vào ô chỉ định. Nhấn “Nhận điển thưởng” để xác nhận.</p>
				</div>
				<div class="col">
					<div class="board">
						<div class="wrap-img">
							<img src="images/modal/step-code-4.png" alt="" />
						</div>
					</div>
					<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
				</div>
			</div>
			<div class="button__wrapper">
				<a href="" title="Tôi đã hiểu rõ rồi!" class="button">Tôi đã hiểu rõ rồi!</a>
			</div>
			<div class="form">
				<div class="form_field clearfix form_field--tnc">
                    <div class="radio-wrapper">
                        <input type="radio" class="input-radio" id="input-radio-register">
                    </div>
                    <label for="input-radio-register">Không nhắc lại lần sau</label>
                </div>
			</div>
		</div>
	</div>
</div>
