<!-- /* Box Modal */ -->

<!-- /* Box Modal: Introduction Step Scan */ -->
<div id="modal--intro-scan" class="mfp-hide modal--big modal--intro modal--intro-scan">
	<div class="outer">
		<div class="inner">
			<h3 class="heading">Các bước scan QR code</h3>
			<a href="" title="Đóng" class="close">Đóng</a>
			<div class="step-content">
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-1.png" alt="" />
							</div>
						</div>
						<p class="desc">Sưu tập thẻ hải tặc Toonies và kiểm tra QR code ở mặt sau. Đăng nhập website: <a href="www.toonies.com.vn" title="www.toonies.com.vn">www.toonies.com.vn</a> để quét thẻ.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-2.png" alt="" />
							</div>
						</div>
						<p class="desc">Nhấn allow khi hệ thống sẽ yêu cầu quyền truy cập webcam. Hãy đảm bảo máy bạn đã chuẩn bị sẵn webcam nhé.</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-3.png" alt="" />
							</div>
						</div>
						<p class="desc">Đưa mặt sau thẻ bài vào khu vực camera trên máy tính hoặc điện thoại di động. Chờ 5s để hệ thống xác nhận.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-scan-4.png" alt="" />
							</div>
						</div>
						<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
					</div>
				</div>
			</div>
			<div class="button__wrapper">
				<a href="" title="Tôi đã hiểu rõ rồi!" class="button">Tôi đã hiểu rõ rồi!</a>
			</div>
			<div class="form">
				<div class="form_field clearfix form_field--tnc">
                    <div class="radio-wrapper">
                        <input type="radio" class="input-radio" id="input-radio-register">
                    </div>
                    <label for="input-radio-register">Không nhắc lại lần sau</label>
                </div>
			</div>
		</div>
	</div>
</div>

<!-- /* Box Modal: Introduction Step Scan */ -->
<div id="modal--intro-code" class="mfp-hide modal--big modal--intro modal--intro-code">
	<div class="outer">
		<div class="inner">
			<h3 class="heading">Các bước scan QR code</h3>
			<a href="" title="Đóng" class="close">Đóng</a>
			<div class="step-content">
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-1.png" alt="" />
							</div>
						</div>
						<p class="desc">Sưu tập thẻ và kiểm tra mã thẻ ở mặt trước. Mã thẻ nằm ở tay phải, bao gồm 3 số như trong hình.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-2.png" alt="" />
							</div>
						</div>
						<p class="desc">Kiểm tra tiền thưởng ở cụm phía dưới thẻ. Mỗi nhân vật sẽ có một mức giá nhất định khi săn thưởng.</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-3.png" alt="" />
							</div>
						</div>
						<p class="desc">Nhập mã thẻ và tiền thưởng trên thẻ vào ô chỉ định. Nhấn “Nhận điển thưởng” để xác nhận.</p>
					</div>
					<div class="col">
						<div class="board">
							<div class="wrap-img">
								<img src="images/modal/step-code-4.png" alt="" />
							</div>
						</div>
						<p class="desc">Sau khi xác nhận thẻ, hệ thống sẽ tự động cập nhật và hiển thị kết quả săn thưởng trên màn hình.</p>
					</div>
				</div>
			</div>
			<div class="button__wrapper">
				<a href="" title="Tôi đã hiểu rõ rồi!" class="button">Tôi đã hiểu rõ rồi!</a>
			</div>
			<div class="form">
				<div class="form_field clearfix form_field--tnc">
                    <div class="radio-wrapper">
                        <input type="radio" class="input-radio" id="input-radio-register">
                    </div>
                    <label for="input-radio-register">Không nhắc lại lần sau</label>
                </div>
			</div>
		</div>
	</div>
</div>
