/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    border: none;
    display: inline-block;
    text-decoration: none;

    color: #101010;
    font-family: $font-iCPB;
}

.button--full {}

.button__wrapper {
	margin-top: 10px;
    text-align: center;
}
