/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    &:hover {}
}

.button--full {}

.button__wrapper {}
