/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    border: none;
    display: inline-block;

    color: #101010;
    font-family: $font-iCPB;

    text-decoration: none;
    text-transform: uppercase;
}

.button--full {}

.button__wrapper {
	margin-top: 10px;
    text-align: center;
}
