/*
** FOOTER
*/

footer {
	background: url('../images/footer/footer-bg--mobile.png') center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 126px;
	@include screen ( small ) {
		background: url('../images/footer/footer-bg.png') center center no-repeat;
		background-size: 100% 100%;
		height: 48px;
		display: table;
	}

	z-index: 4;
	text-align: center;
	padding-top: 12px;
	@include ab ( n, 0, 0, n );
	@include screen ( small ) {
		padding-top: 0;
		@include ab ( n, 50%, 0, n );
		@include transform( translateX(-50%) );
	}

	.inner {
		width: 100%;
		height: 100%;
		/* @include screen ( small ) {
			display: table-cell;
			vertical-align: middle;
		} */
	}
	.copyright {
		text-indent: -9999px;
		@include screen ( small ) {
			display: inline-block;
			vertical-align: middle;
		}

		margin: 0;
	}
	.copyright--orion {
		height: 47px;
		background: url('../images/footer/copyright--orion--mobile.png') center center no-repeat;

		@include screen ( small ) {
			width: 398px;
			height: auto;
			margin: 14px 70px 0 0;
			background: url('../images/footer/copyright--orion.png') center center no-repeat;
		}
	}
	.copyright--toei {
		height: 27px;
		background: url('../images/footer/copyright--toei.png') center center no-repeat;

		display: none;

		@include screen ( small ) {
			margin-top: 15px;
			width: 304px;
			height: 47px;
			height: auto;
			display: inline-block;
			/* background: url('../images/footer/text-copyright.png') center center no-repeat; */
		}
	}
	img {
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
		@include screen ( small ) {
			margin: 8px 5px 0;
		}
		&:first-child {
			margin-top: 5px;
		}
	}
}
