/*
** HEADER
*/

header {
	@include screen ( ipadPortrait ) {
		padding: 0 10px;
	}
	@include screen ( ipad ) {
		padding: 0;
	}
	.inner {
		background: url('../images/global/header--mobile.png') center center no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 48px;
		margin: 0 auto;
		position: relative;
		@include screen ( small ) {
			height: 96px;
		}
		@include screen ( ipadPortrait ) {
			background: url('../images/global/header.png') center center no-repeat;
			background-size: 100% 100%;
			height: 95px;
			max-width: 768px;
		}
		@include screen ( ipad ) {
			height: 114px;
			max-width: 916px;
		}
	}

	.logo {
		display: block;
		position: absolute;
		/* @include ab ( 50%, n, n, n );
		@include transform( translateY(-50%) ); */
	}
	.logo--toonies {
		background: url('../images/global/logo-toonies.png') center center no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 59px;
		max-width: 80px;
		top: 0;
		left: 10px;
		@include screen ( small ) {
			height: 112px;
			max-width: 153px;
			top: auto;
			bottom: -13px;
			left: 15px;
		}
	}
	.logo--orion {
		background: url('../images/global/logo-orion.png') no-repeat;
		width: 110px;
		height: 25px;
		margin-top: -7px;
		@include ab ( 50%, 50%, n, n );
		@include transform( translate(-50%,-50%) );
		@include screen ( ipadPortrait ) {
			top: auto;
			left: auto;
			right: 25px;
			bottom: 21px;
			transform: none;
		}
		@include screen ( ipad ) {
			bottom: 27px;
			right: 27px;
		}
	}
	.hot-line {
		display: block;
		text-indent: -9999px;
		background: url('../images/global/hot-line.png') no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		width: 100%;
		height: 36px;
		max-width: 195px;
		@include ab( n, 170px, 15px, n );
		&:hover {
			background: url('../images/global/hot-line--hover.png') no-repeat;
		}
		@include screen ( ipad ) {
			height: 48px;
			max-width: 259px;
			left: 175px;
		}
	}
	.bugger-menu {
		background: url('../images/buttons/button-bugger.png') no-repeat;
		width: 37px;
		height: 36px;
		margin-top: -3px;
		@include ab( 50%, n, n, 25px );
		@include transform (translateY(-50%));
		&:hover {
			background: url('../images/buttons/button-bugger--hover.png') no-repeat;
		}
	}
}
